@model IEnumerable<ProyectoIntegrador.BaseDatos.TrabajaEn>

@{
    ViewBag.Title = "Equipo del Proyecto";
}


<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        /*Estilo del drag and drop*/
        #listaEquipo, #listaDisponibles {
            border: none;
            width: 550px;
            height: 530px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            float: left;
            margin-right: 10px;
            background-color: transparent;
        }

            #listaEquipo li, #listaDisponibles li {
                margin: 0 5px 5px 5px;
                padding: 5px;
                color: black;
                width: 500px;
                height: 50px;
                border-color: rgba(128,128,128,0.91);
                border-radius: 20px 20px 20px 20px;
                background-color: #ede4db;
            }
    </style>

    <style>
        /*Estilo de los tooltips*/
        .tooltip > .tooltip-inner {
            background-color: #76323f;
            color: white;
        }

        .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
            border-bottom-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
            border-top-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
            border-left-color: #76323f
        }

        .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
            border-right-color: #76323f
        }
    </style>
</head>

<body>

    <!--Bloque del título y botón de regresar-->>
    <div class="row">
        <div class="col justify-content-center">
            <p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Equipo del Proyecto: @ViewBag.proyectoActual.nombre</p>
        </div> 
    </div>
    <hr> 




    <div class="container " draggable="false" style="max-width: 1800px">
        <div class="row">

            <!--La columna con empleados disponibles solo es visible para calidad,soporte y el líder-->
            @if (ViewBag.permisosActuales.Item1 == 0 || ViewBag.permisosActuales.Item1 == 1)
            {
                <!--Primera columna, contiene lista de empleados disponibles-->
                <div class="col col-md-4 " draggable="false" style="width:auto; height:600px; border-radius:20px 20px 20px 20px">

                    <!--Navbar-->
                    <nav class="navbar navbar-light bg-secondary">
                        <a class="navbar-brand">
                            <img src="~/Content/folder.svg" draggable="false" width="30" height="30" class="d-inline-block align-top" alt="">
                            Empleados disponibles
                        </a>

                        <input type="text" style="border-radius:20px; background-color:#C4C4C4 ; border-color:transparent" id="myInput" onkeyup="filtrarEmpleados()" placeholder="Buscar Empleado">
                        <a data-toggle="tooltip" draggable="false" onclick="my_loading(this,'30px','30px')" data-placement="top" title="Búsqueda Avanzada" href="~/Home" class="btn">
                            <img src="~/Content/buscar.svg" draggable="false" class="rounded float-right" style="max-height:30px ; max-width:30px">
                        </a>
                    </nav>



                    <div class="card" style="border-radius: 0px 0px 20px 20px ; background-color:#C09F80 ; height:530px; box-shadow: -4px 31px 44px 0px  rgba(128,128,128,0.91)">
                        <ul id="listaDisponibles" class="connectedSortable overflow-auto" style="border-radius: 0px 0px 00px 20px">


                            @foreach (var lider in ViewBag.lideres)
                            {
                                <li class="ui-state-default data-toggle=" tooltip" ui-state-disabled list-group-item list-group-item-action list-group-item-secondary my-1"
                                    data-proyecto="@ViewBag.proyectoActual.idProyectoAID" data-empleado="@lider.idEmpleadoPK" data-rol="@lider.tipoTrabajo" style="border-radius:20px 20px 20px 20px" id="list-home-list">
                                    <img src="~/Content/boss.svg" data-toggle="tooltip" title="Lider" draggable="false" class="rounded float-right" style="max-height:30px ; max-width:30px">
                                    @lider.nombre @lider.apellido1
                                </li>
                            }

                            @foreach (var integrante in ViewBag.testers)
                            {
                                <li class="ui-state-default ui-state-disabled list-group-item list-group-item-action list-group-item-secondary my-1"
                                    data-proyecto="@ViewBag.proyectoActual.idProyectoAID" data-empleado="@integrante.idEmpleadoPK" data-rol="@integrante.tipoTrabajo" style="border-radius:20px 20px 20px 20px" id="list-home-list">@integrante.nombre@integrante.apellido1</li>

                                }
                        </ul>

                    </div>


                </div>
            }

            <!--Segunda columna, contiene integrantes del equipo-->
            <div class="col col-md-4 " draggable="false" style="width:auto; height:600px; border-radius:20px 20px 20px 20px">

                <!--Navbar-->
                <nav class="navbar navbar-light bg-secondary" draggable="false">
                    <a class="navbar-brand" draggable="false">
                        <img src="~/Content/folder.svg" width="30" height="30" class="d-inline-block align-top" alt="" draggable="false">
                        Lista de Integrantes
                    </a>
                </nav>

                <!--Carta que contiene la lista de integrantes-->
                <div class="card" style="border-radius: 0px 0px 20px 20px ; background-color:#C09F80 ; height:530px; box-shadow: -4px 31px 44px 0px  rgba(128,128,128,0.91)">
                    <ul id="listaEquipo" class="connectedSortable overflow-auto" style="border-radius: 0px 0px 00px 20px">



                        @foreach (var integrante in ViewBag.equipoActual)
                        {
                            if (integrante.tipoTrabajo == "Lider")
                            {
                                <li class="ui-state-default data-toggle=" tooltip" ui-state-disabled list-group-item list-group-item-action list-group-item-secondary my-1"
                                    data-proyecto="@ViewBag.proyectoActual.idProyectoAID" data-empleado="@integrante.idEmpleadoPK" data-rol="@integrante.tipoTrabajo" style="border-radius:20px 20px 20px 20px" id="list-home-list">
                                    <img src="~/Content/boss.svg" data-toggle="tooltip" title="Lider" draggable="false" class="rounded float-right" style="max-height:30px ; max-width:30px">
                                    @integrante.nombre @integrante.apellido1
                                </li>
                            }
                            else
                            {
                                <li class="ui-state-default ui-state-disabled list-group-item list-group-item-action list-group-item-secondary my-1" data-proyecto="@ViewBag.proyectoActual.idProyectoAID" data-empleado="@integrante.idEmpleadoPK" data-rol="@integrante.tipoTrabajo" style="border-radius:20px 20px 20px 20px" id="list-home-list">@integrante.nombre @integrante.apellido1</li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </div>

        <!--Boton de back-->
        <div class="col justify-content-start">
            <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="/Proyectos/Index/@ViewBag.proyectoActual.idProyectoAID"><img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
        </div>
    </div>>

    @{ Html.RenderPartial("ScriptsEquipo"); }


</body>