@model ProyectoIntegrador.BaseDatos.Prueba

@{
    ViewBag.Title = "Edit Pruebas";
}



<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</head>



<body>
    <br />
    <p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Editar Prueba</p>
    <hr>

    <a href="@Url.Action("Eliminar","")">  </a>

    <!-- Se crea el formulario con el que recibiremos los datos -->
    <form class="cmxform" id="commentForm" method="post" action="Edit">
        <!--enctype="multipart/form-data"-->
        <fieldset>
            <div class="container justify-content-center" style="width:2000px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91);  background-color: rgba(192,159,128, 0.7)">
                <!--Se pasa el id del proyecto asociado, del requerimiento y de las pruebas de manera oculta ya que al usuario no le interesa esto-->
                <input type="hidden" id="idProy" name="idProyecto" value="@ViewBag.idProyecto">
                <input type="hidden" id="idReq" name="idReq" value="@ViewBag.idRequerimiento">
                <input type="hidden" id="idPrueba" name="idPrueba" value="@ViewBag.idPrueba">
                <input type="hidden" id="nomV" name="nombreViejo" value="@Model.nombre">
                <br />
                <div class="form-row">
                    @*Título de Atributo Nombre del Requerimiento*@
                    <div class="col-5">
                        <h5> Nombre: *</h5>
                    </div>

                    <div class="col-1">

                    </div>

                    @*Título del atributo propositoPrueba*@
                    <div class="col-5">
                        <h5>Propósito de la Prueba:</h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-5">
                        @*Atributo nombre de la prueba*@
                        <div class="input-group">
                            <input class="form-control" id="nomN" name="nombre" minlength="1" maxlength="60" type="text" style="text-align:center" required value="@Model.nombre" />
                        </div>
                        <div id="errorNombre"></div>
                    </div>

                    <div class="col-1">

                    </div>

                    <div class="col-5">
                        @*Atributo proposito de la prueba*@
                        <div class="input-group">
                            @*if (ViewBag.permisosEditar.Item3[3] == 1)
                                {*@
                            <input class="form-control" value="@Model.propositoPrueba" id="propositoPrueba" name="propositoPrueba" minlength="1" maxlength="60" type="text" style="text-align:center" />
                            @*}
                                else
                                {
                                    <input class="form-control" value="@Model.propositoPrueba" id="propositoPrueba" name="propositoPrueba" minlength="1" maxlength="60" type="text" style="text-align:center" readonly/>
                                }*@
                        </div>
                    </div>
                </div>
                <hr />
                <h3>Diseño de la prueba</h3>
                <br />
                <div class="form-row">
                    <div class="col">
                        @*Título del Atributo Pre-Requisitos(Entrada Datos)*@
                        <h5>Datos de entrada:</h5>
                    </div>
                </div>

                @*Atributo pre-requisitos*@
                <div class="input-group mb-4  mx-6">
                    <textarea class="form-control" name="entradaDatos" maxlength="200" aria-label="With textarea" style="max-width:none" id="entradaDatos">@Model.entradaDatos</textarea>
                </div>

                <div class="form-row">
                    <div class="col-4">
                        @*Título de Atributo Resultado Esperado*@
                        <h5>Resultado Esperado:</h5>
                    </div>
                </div>

                @*Atributo resultado esperado*@
                <div class="form-row mb-4">
                    @*Atributo resultado esperado*@
                    <div class="input-group mb-4  mx-6">
                        <textarea class="form-control" name="resultadoEsperado" maxlength="200" aria-label="With textarea" style="max-width:none" id="resultadoEsperado" required>@Model.resultadoEsperado</textarea>
                    </div>
                    <div id="errorResultadoEsperado"></div>
                </div>

                <div class="form-row">
                    <div class="col">
                        @*Título de Atributo Flujo Prueba*@
                        <h5>Flujo Prueba:</h5>
                    </div>
                </div>

                @*Atributo flujo de prueba*@
                <div class="input-group mb-4  mx-6">
                    <textarea class="form-control" name="flujoPrueba" maxlength="200" aria-label="With textarea" style="max-width:none" id="flujoPrueba">@Model.flujoPrueba</textarea>
                </div>

                <div class="form-row">
                    @*Título del atributo estado*@
                    <div class="col-4 ">
                        <!--Campo estado-->
                        <h5>Estado:</h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-4">
                        @*Atributo Estado*@
                        <div class="input-group">
                            @*if (ViewBag.permisosEditar.Item3[4] == 1)
                                {*@
                            <select class="custom-select" name="estado" required>
                                @switch (Model.estado)
                                {
                                    case "No iniciado":
                                        <option value="No iniciado" selected>No iniciado</option>
                                        <option value="En ejecución">En ejecución</option>
                                        <option value="Terminada">Terminada</option>
                                        <option value="Cancelada">Cancelada</option>
                                        break;

                                    case "En ejecución":
                                        <option value="No iniciado">No iniciado</option>
                                        <option value="En ejecución" selected>En ejecución</option>
                                        <option value="Terminada">Terminada</option>
                                        <option value="Cancelada">Cancelada</option>
                                        break;

                                    case "Terminada":
                                        <option value="No iniciado">No iniciado</option>
                                        <option value="En ejecución">En ejecución</option>
                                        <option value="Terminada" selected>Terminada</option>
                                        <option value="Cancelada">Cancelada</option>
                                        break;
                                    case "Cancelada":
                                        <option value="No iniciado">No iniciado</option>
                                        <option value="En ejecución">En ejecución</option>
                                        <option value="Terminada">Terminada</option>
                                        <option value="Cancelada" selected>Cancelada</option>
                                        break;
                                }
                            </select>
                            @*}
                                else
                                {
                                    <input id="estado" class="form-control" value="@Model.estado" style="text-align:center" name="estado" type="text" required readonly>
                                }*@
                        </div>
                    </div>
                </div>

                <hr />
                <h3>Resultados</h3>
                <br />

                <div class="form-row">
                    @*Título del atributo resultado final*@
                    <div class="col-4">
                        <h5>Resultado Final:</h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-4">
                        <div class="input-group">
                            @*if (ViewBag.permisosEditar.Item3[4] == 1)
                                {*@
                            <select class="custom-select" name="resultadoFinal" required>
                                @switch (Model.resultadoFinal)
                                {
                                    case "Incompleto":
                                        <option value="Incompleto" selected>Incompleto</option>
                                        <option value="Exitoso">Exitoso</option>
                                        <option value="Fallido">Fallido</option>
                                        break;

                                    case "Fallido":
                                        <option value="Incompleto">Incompleto</option>
                                        <option value="Exitoso">Exitoso</option>
                                        <option value="Fallido" selected>Fallido</option>
                                        break;

                                    case "Exitoso":
                                        <option value="Incompleto">Incompleto</option>
                                        <option value="Exitoso" selected>Exitoso</option>
                                        <option value="Fallido">Fallido</option>
                                        break;
                                }
                            </select>
                            @*}
                                else
                                {
                                    <input id="resultadoFinal" class="form-control" value="@Model.resultadoFinal" style="text-align:center" name="resultadoFinals" type="text" required readonly>
                                }*@
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        @*Título de Atributo Descripción Error*@
                        <h5>Descripción Error:</h5>
                    </div>
                </div>

                @*Atributo detalle del resultado*@
                <div class="input-group mb-4  mx-6">
                    <textarea class="form-control" name="descripcionError" maxlength="200" aria-label="With textarea" style="max-width:none" id="descripcionError">@Model.descripcionError</textarea>
                </div>

                <hr />

                <div class="form-row">
                    <div class="col">
                        @*Título del campo de la imagen*@
                        <h3>Imagen del error:</h3>
                    </div>
                </div>




                <!--Atributo imagen-->
                @if (Model.imagen != null)
                {
                    <div class="row">

                        @{var base64 = Convert.ToBase64String(Model.imagen);}
                        @{var imgsrc = String.Format("data:image/gif;base64,{0}", base64); }

                        <img src="@imgsrc" class="rounded mx-auto d-block" style="max-height:400px; max-width:400px">

                    </div>

                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary" href="@Url.Action("ModificarImagen","Pruebas",new { proyecto = Model.idProyectoFK, requerimiento = Model.idReqFK , prueba = Model.idPruebaPK    })">Modificar Imagen</a>
                        </div>

                        <div class="col">
                            <a class="btn btn-primary" style="color:white" data-toggle="modal" data-target="#EliminarImagen" data-whatever2="@Model.idProyectoFK" data-whatever="@Model.idReqFK" data-whatever3="@Model.idPruebaPK">Eliminar Imagen</a>
                        </div>
                    </div>

                }
                else
                {
                    <div class="row">
                        <a class="btn btn-primary" href="@Url.Action("AgregarImagen","Pruebas",new { proyecto = Model.idProyectoFK, requerimiento = Model.idReqFK , prueba = Model.idPruebaPK    })">Agregar Imagen</a>
                    </div>
                }

                <br />
                <h5> * Campos requeridos</h5>

                <hr />

                <div class="row justify-content-center" style="max-width:1150px">
                    <div class="col-2  text-center">
                        <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="@Url.Action("Index", "Pruebas", new { idProyecto = ViewBag.idProyecto, idRequerimiento = ViewBag.idRequerimiento, idPrueba = ViewBag.idPrueba})">
                            <img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px">
                        </a>
                    </div>

                    <div class="col-5 text-right">
                        <button type="reset" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cancelar">
                            <img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px">
                        </button>
                    </div>

                    <div class="col-5  text-center">
                        <button type="submit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="top" title="Aceptar">
                            <img id="acceptar" src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            <div id="loading" style="width:80px;height:80px" class="spinner-border text-black" role="status"></div>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>



    @Html.Partial("ModalEliminar")
    @Html.Partial("Scripts")

</body>

<script>
    $(function () {
        $("#commentForm").validate(
            {
                rules:
                {
                    nombre:
                    {
                        required: true,
                        minlength: 1,
                        remote:
                        {
                            url: "/Pruebas/ReviseNombrePrueba",
                            type: "post",
                            delay: 1000,
                            data:
                            {
                                name: function () {
                                    return $("#nomN").val();
                                },
                                oldName: function () {
                                    return $("#nomV").val();
                                },
                                idProyecto: function () {
                                    return $("#idProy").val();
                                },
                                idRequerimiento: function () {
                                    return $("#idReq").val();
                                }
                            }

                        }

                    },
                    resultadoEsperado:
                    {
                        required: true,
                        minlength: 1

                    },
                },
                messages:
                {
                    nombre:
                    {
                        required: "Inserte al menos 1 caractér",
                        remote: "Ya existe una prueba con ese nombre",
                    },
                    resultadoEsperado: "Debe proporcionar un resultado esperado"

                },

                errorPlacement: function (error, element) {
                    if ((element.attr('name') === 'nombre')) {
                        error.insertAfter($('#errorNombre'));
                    }
                    if ((element.attr('name') === 'resultadoEsperado')) {
                        error.insertAfter($('#errorResultadoEsperado'));
                    }
                },
                invalidHandler: function (form, validator) {

                    $('#loading').hide('fast');
                    $('#acceptar').show('fast');

                },
            });
    });


</script>

<script>
    $('document').ready(function () {


        $('#loading').hide();



    });

    $('#btnsubmit').on('click', function () {
        $('#acceptar').hide('fast');


        $('#loading').show('fast');


    });

</script>
