<div class="row mx-4 mt-0 md-0 " style="height:48px">

    <div class="col-10 " style="max-height:48px">
        <!--Nombre de la prueba, se puede agregar el estado-->
        <p class="font-weight-bold text-left overflow-auto" style="font-family:PlayfairDisplay-Bold; font-size:40px;">@*Model.nombre*@Nombre aca</p>
    </div>

    <!-- Botones de Editar y Borrar  -->
    <div class="col" style="height:70px;">
        <a data-toggle="tooltip" onclick="my_loading(this,'30px','30px')" data-placement="left" title="Editar" href="@Url.Action("Edit", "Pruebas", new { idProyecto = Model.idProyectoFK, idRequerimiento = Model.idReqFK, idPrueba = Model.idPruebaPK })" class="btn"><img src="~/Content/edit.svg" class="rounded float-right" style="max-height:32px ; max-width:32px;padding-top:5px"></a>

        <a href="#" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@Model.idReqFK" data-whatever2="@Model.idProyectoFK" data-whatever3="@Model.idPruebaPK"><img data-toggle="tooltip" title="Eliminar" data-placement="top" src="~/Content/delete.svg" class="rounded float-right" style="max-height:35px ; max-width:32px; padding-top:5px"></a>
    </div>
</div>

        <hr />

        <div class="container col-12" style="width:auto; height:auto; padding-right:25px;">

            <div class="form-row">
                @*Titulo de Atributo Nombre*@
                <div class="col-5">
                    <h5> Nombre</h5>
                </div>
                <div class="col-2"></div>
                @*Título de Atributo Proposito Prueba*@
                <div class="col-5 ">
                    <h5> Proposito Prueba </h5>
                </div>
            </div>
            <br />
            <div class="form-row">
                @*Atributo Nombre*@
                <div class="col-5">
                    <input class="form-control" name="nombre" value="@*Model.nombre*@" maxlength="30" style="max-width:none" readonly />
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    @*Atributo propositoPrueba*@
                    <input class="form-control" type="text" style="text-align:center; max-width:none" value="@Model.propositoPrueba" readonly>
                </div>
            </div>
            <br />
            <div class="form-row">
                @*Título de Atributo Resultado Esperado*@
                <div class="col-5">
                    <h5> Resultado Esperado </h5>
                </div>
                <div class="col-2"></div>
                @*Título de Atributo Flujo Prueba*@
                <div class="col-5">
                    <h5> Flujo Prueba </h5>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-5">
                    @*Atributo resultadoEsperado*@
                    <input class="form-control" value="@Model.resultadoEsperado" style="text-align:center; max-width:none" type="text" readonly>
                </div>
                <div class="col-2"></div>
                @*Atributo flujoPrueba*@
                <div class="col-5">
                    <input class="form-control text-center" style="max-width:none" type="text" value="@Model.flujoPrueba" name="flujoPrueba" readonly>
                </div>
            </div>
            <br />
            <div class="form-row">
                @*Título de Atributo estado*@
                <div class="col-5">
                    <h5> Estado </h5>
                </div>

                <div class="col-2"></div>
                @*Título de Atributo Resultado Final*@
                <div class="col-5">
                    <h5> Resultado Final </h5>
                </div>
            </div>
            <br />

            <div class="form-row">
                @*Atributo estado*@
                <div class="col-5">
                    <input class="form-control text-center" style="max-width:none" type="text" value="@Model.estado" name="estado" readonly>
                </div>

                <div class="col-2"></div>
                @*Atributo Resultado Final*@
                <div class="col-5">
                    <input class="form-control" type="text" style="max-width:none;  text-align:center" value="@Model.resultadoFinal" name="resultadoFinal" readonly>
                </div>
            </div>
            <br />
            <div class="form-row">
                @*Título de Pre-Requisitos(Entrada Datos)*@
                <div class="col-5">
                    <h5> Pre-Requisitos </h5>
                </div>
            </div>
            <div class="form-row">
                @*Atributo Pre-Requisitos(Entrada Datos)*@
                <div class="input-group">
                    <textarea class="form-control" type="text" style="max-width:none;" name="entradaDatos" readonly>@Model.entradaDatos</textarea>
                </div>
            </div>
            <br />
            <div class="form-row">
                @*Título de Atributo Descripción Error*@
                <div class="col-4 ">
                    <h5> Descripción Error </h5>
                </div>
            </div>
            <div class="form-row">
                <div class="input-group">
                    @*Atributo descripcionError*@
                    <textarea class="form-control" type="text" style="max-width:none" readonly>@Model.descripcionError</textarea>
                </div>
            </div>
            <br />

            <div class="form-row">
                @*Título de Atributo imagen *@
                <div class="col-4">
                    <h5> Imagen si es que se va a poner </h5>
                </div>
            </div>
            <div class="form-row">
                <div class="input-group">
                    @*Atributo imagen
                    <input class="form-control" value="@item.imagen" style="text-align:center; max-width:none" type="text" readonly>*@
                </div>
            </div>
            
        </div>