

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>



</head>



<body>


    <form class="cmxform" id="commentForm" name="commentForm" method="post" action="Edit">

        <fieldset>




            <div id="errors"></div>



            <div class="container justify-content-center" style="width:2000px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91); background-color: rgba(192,159,128, 0.7)">


                @if (ViewBag.error != null)
                {
                    <div class="alert alert-primary text-center m-1 pt-1" style="color:white;  border-radius:25px ; border-color:transparent ; background-color:red; height:50px">@ViewBag.error</div>
                }
                else
                {
                    <div class="alert alert-primary text-center m-1 pt-1" style=" border-color:transparent ; background-color:transparent; height:50px"></div>

                }


                <input id="idProyecto" hidden class="form-control" value="@Model.idProyectoAID" name="id" type="text">

                <!--Se utiliza para pasarle informacion al script de validacion -->
                <input hidden class="form-control" value="@Model.nombre" id="nombreH" type="text">


                @*Filas con las etiquetas de Nombre y Estado*@
                <div class="form-row">
                    <div class="col-5 ">
                        <h5> Nombre * </h5>
                    </div>

                    <div class="col-2 ">

                    </div>

                    <div class="col-5">
                        <h5> Estado </h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-5">

                        @*Atributo Nombre*@
                        <div class="input-group">


                            @if (ViewBag.permisos.Item3[1] == 1)
                            {
                                <input id="input2" class="form-control" value="@Model.nombre" style=" max-width:none; background-color:#D7CEC7; border-color:transparent" name="nombre" type="text">

                            }
                            else
                            {
                                <input id="input2" class="form-control" value="@Model.nombre" style=" max-width:none; background-color:#D7CEC7; border-color:transparent" name="nombre" minlength="1" maxlength="30" type="text" readonly>
                            }

                        </div>
                        <div id="errorNombre"></div>


                    </div>

                    <div class="col-2 ">

                    </div>


                    <div class="col-5">

                        <div class="input-group">

                            @if (ViewBag.permisos.Item3[3] == 1)
                            {
                                <select id="dropdownEstado" class="custom-select" style="text-align:center;max-width:200px; background-color:#D7CEC7; border-color:transparent" name="estado">


                                    @switch (Model.estado)
                                    {
                                        case "Preparacion":
                                            {
                                                <option selected value="Preparación">Preparación</option>
                                                <option value="Activo">Activo</option>
                                                <option value="Cancelado">Cancelado</option>
                                                <option value="Terminado">Terminado</option>
                                                break;
                                            }
                                        case "Activo":
                                            {
                                                <option value="Preparación">Preparación</option>
                                                <option selected value="Activo">Activo</option>
                                                <option value="Cancelado">Cancelado</option>
                                                <option value="Terminado">Terminado</option>
                                                break;
                                            }
                                        case "Cancelado":
                                            {
                                                <option value="Preparación">Preparación</option>
                                                <option value="Activo">Activo</option>
                                                <option selected value="Cancelado">Cancelado</option>
                                                <option value="Terminado">Terminado</option>
                                                break;
                                            }
                                        case "Terminado":
                                            {
                                                <option value="Preparación">Preparación</option>
                                                <option value="Activo">Activo</option>
                                                <option value="Cancelado">Cancelado</option>
                                                <option selected value="Terminado">Terminado</option>
                                                break;
                                            }

                                        default:
                                            {

                                                <option selected value="Preparación">Preparación</option>
                                                <option value="Activo">Activo</option>
                                                <option value="Cancelado">Cancelado</option>
                                                <option value="Terminado">Terminado</option>
                                                break;
                                            }

                                    }


                                </select>

                            }
                            else
                            {
                                <input id="cnombre" style="max-width:none; background-color:#D7CEC7; border-color:transparent" value="@Model.estado" name="estado" type="text" readonly>


                            }
                        </div>
                        <div id="errorEstado"></div>


                    </div>
                </div>

                @*Fila con la etiqueta de Objetivo*@
                <div class="form-row">
                    <div class="col">
                        <h5> Objetivo</h5>
                    </div>
                </div>


                @*Atributo Objetivo*@
                <div class="input-group mb-4">
                    @if (ViewBag.permisos.Item3[2] == 1)
                    {
                        <textarea class="form-control" name="objetivo" value="@Model.objetivo" maxlength="200" aria-label="With textarea" style="max-width:none; background-color:#D7CEC7; border-color:transparent" id="comment">@Model.objetivo</textarea>

                    }
                    else
                    {
                        <textarea class="form-control" name="objetivo" value="@Model.objetivo" maxlength="200" aria-label="With textarea" style="max-width:none; background-color:#D7CEC7; border-color:transparent" id="comment" readonly></textarea>
                    }


                </div>

                <div class="mb-2" style="text-align:center" id="errorObjetivo"></div>



                @*Filas con las etiquetas de Fechas *@

                <div class="form-row">
                    <div class="col-5 ">
                        <h5> Fecha Inicio </h5>
                    </div>

                    <div class="col-2 ">

                    </div>

                    <div class="col-5">
                        <h5> Fecha Finalización </h5>
                    </div>
                </div>

                @* Fechas *@
                <div class="form-row mb-4">
                    <div class="col-5">

                        <div class="input-group">

                            @if (ViewBag.permisos.Item3[6] == 1)
                            {
                                <input id="cfecha" class="form-control text-center" style="width:200px; background-color:#D7CEC7; border-color:transparent" type="date" value="@Model.fechaInicio.ToString("yyyy-MM-dd")" name="fechaInicio" required>
                            }
                            else
                            {
                                <input id="cfecha" class="form-control text-center" style="width:200px; background-color:#D7CEC7; border-color:transparent" type="date" value="@Model.fechaInicio.ToString("yyyy-MM-dd")" name="fechaInicio" readonly>
                            }

                        </div>
                        <small class="form-text text-left" style="color:black">Por defecto Fecha del día creado </small>

                    </div>

                    <div class="col-2 ">

                    </div>

                    <div class="col-5">

                        <div class="input-group">

                            @if (ViewBag.permisos.Item3[7] == 1)
                            {
                                <input id="cfecha2" class="form-control text-center" style="width:200px; background-color:#D7CEC7; border-color:transparent" type="date" value="@Model.fechaFinalizacion.ToString("yyyy-MM-dd")" name="fechaFinalizacion" required>
                            }
                            else
                            {
                                <input id="cfecha2" class="form-control text-center" style="width:200px; background-color:#D7CEC7; border-color:transparent" type="date" value="@Model.fechaFinalizacion.ToString("yyyy-MM-dd")" name="fechaFinalizacion" readonly>
                            }
                        </div>


                        <small class="form-text text-left" style="color:black">Por defecto 01-01-1800  </small>

                    </div>
                </div>


                @*Filas con las etiquetas de Duraciones *@
                <div class="form-row">
                    <div class="col-5">
                        <h5> Duración Estimada </h5>
                    </div>

                    <div class="col-2">

                    </div>

                    <div class="col-5">
                        <h5> Duración Real </h5>
                    </div>
                </div>


                @* Duraciones *@
                <div class="form-row mb-4">
                    <div class="col-5">

                        <div class="input-group">

                            @if (ViewBag.permisos.Item3[4] == 1)
                            {
                                <input id="input4" class="form-control" type="number" style="text-align:center; width:200px; background-color:#D7CEC7; border-color:transparent" value="@Model.duracionEstimada" name="duracionEstimada" required>

                            }
                            else
                            {
                                <input id="input4" class="form-control" type="number" style="text-align:center; width:200px; background-color:#D7CEC7; border-color:transparent" value="@Model.duracionEstimada" name="duracionEstimada" readonly>
                            }

                        </div>
                        <div id="errorDuracionEstimada"></div>


                        <small class="form-text text-left" style="color:black">Formato en horas </small>

                    </div>

                    <div class="col-2">

                    </div>



                    <div class="col-5">

                        <div class="input-group">

                            @if (ViewBag.permisos.Item3[5] == 1)
                            {
                                <input id="input5" class="form-control" type="number" style="text-align:center; width:200px; background-color:#D7CEC7; border-color:transparent" value="@Model.duracionReal" name="duracionReal" required>

                            }
                            else
                            {
                                <input id="input5" class="form-control" type="number" style="text-align:center; width:200px; background-color:#D7CEC7; border-color:transparent" value="@Model.duracionReal" name="duracionReal" readonly>
                            }
                        </div>
                        <div id="errorDuracionReal"></div>
                        <small class="form-text text-left" style="color:black">Formato en horas</small>

                    </div>
                </div>












                @*Atributo Cantidad de requerimientos*@

                <input id="cdr" class="form-control" type="number" name="cantidadReq" value="@Model.cantidadReq" hidden>


                @*Fila con la etiqueta de Cliente*@
                <div class="form-row">
                    <div class="col">
                        <h5> Cliente </h5>
                    </div>
                </div>

                @*Atributo cedulaCliente*@
                <div class="input-group mb-4">

                    <select class="custom-select" name="cedulaCliente" style="max-width:none; background-color:#D7CEC7; border-color:transparent" id="inputGroupSelect03">
                        @if (ViewBag.permisos.Item3[9] == 1)
                        {

                            if (ViewBag.clienteActual != null)
                            {
                                <option selected value="@ViewBag.clienteActual.cedulaPK">@ViewBag.clienteActual.nombre @ViewBag.clienteActual.apellido1 @ViewBag.clienteActual.empresa</option>
                                <option value=null>Ninguno</option>
                            }
                            else
                            {
                                <option selected value=null>Ninguno</option>
                            }


                            foreach (var item in ViewBag.cliente)
                            {
                                <option value="@item.cedulaPK"> @item.nombre @item.apellido1 @item.empresa </option>



                            }


                        }

                        else
                        {


                            if (ViewBag.clienteActual != null)
                            {
                                <option selected value="@ViewBag.clienteActual.cedulaPK">@ViewBag.clienteActual.nombre @ViewBag.clienteActual.apellido1 @ViewBag.clienteActual.empresa</option>
                            }
                            else
                            {
                                <option selected value="">Ninguno</option>
                            }


                        }
                    </select>
                    @*<div class="input-group-append" style="width:180px">
                            <a class="btn btn-danger" style="width:180px" href="/Proyectos/IndexCliente" role="button" data-toggle="tooltip" data-placement="top" title="Ver detalles de los Clientes">Clientes</a>
                        </div>*@

                </div>



                @*Se manda al controlador el lider actual si es que existe*@
                @if (@ViewBag.liderActual != null)
                {
                    <input type="hidden" id="custId" name="cedulaLiderActual" value="@ViewBag.liderActual.idEmpleadoPK">
                }


                @*Fila con la etiqueta de Lider*@
                <div class="form-row">
                    <div class="col">
                        <h5> Lider </h5>
                    </div>
                </div>


                @*Atributo cedulaLider*@
                <div class="input-group mb-4">

                    <select class="custom-select" id="inputGroupSelect01" style="max-width:none; background-color:#D7CEC7; border-color:transparent" name="cedulaLider">
                        @if (ViewBag.permisos.Item3[10] == 1)
                        {
                            if (ViewBag.liderActual != null)
                            {
                                <option selected value="@ViewBag.liderActual.idEmpleadoPK">@ViewBag.liderActual.nombre @ViewBag.liderActual.apellido1  </option>
                                <option value="-1">Ninguno</option>
                            }
                            else
                            {
                                <option selected value="">Seleccione un Lider</option>
                            }


                            foreach (var item in ViewBag.lider)
                            {
                                <option value="@item.idEmpleadoPK"> @item.nombre @item.apellido1 </option>
                            }
                        }
                        else
                        {
                            <option selected value="@ViewBag.liderActual.idEmpleadoPK">@ViewBag.liderActual.nombre @ViewBag.liderActual.apellido1  </option>
                        }

                    </select>
                    @*<div class="input-group-append" style="width:180px">
                            <a class="btn btn-danger" style="width:180px" href="/Proyectos/IndexEmpleado" role="button" data-toggle="tooltip" data-placement="top" title="Ver detalles de los empleados">Empleados</a>
                        </div>*@
                </div>



                <h5> * Campos requeridos</h5>




                <hr />



                <div class="row justify-content-center" style="max-width:1150px">
                    <div class="col-2  text-center">
                        <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="/Proyectos/Index/@Model.idProyectoAID"><img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
                    </div>

                    <div class="col-5 text-right">

                        <button type="reset" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cancelar">
                            <img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px">

                        </button>
                    </div>

                    <div class="col-5  text-center">

                        <button type="submit" id="btnsubmit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="right" title="Aceptar">
                            <img id="acceptar" src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            <div id="loading" style="width:80px;height:80px" class="spinner-border text-black" role="status"></div>
                        </button>

                    </div>
                </div>



            </div>

        </fieldset>

    </form>


    <script>

        $('document').ready(function () {


            $('#loading').hide();



        });



        $('#btnsubmit').on('click', function () {
            $('#acceptar').hide('fast');


            $('#loading').show('fast');


        });

    </script>



    <script>
        $(function () {
            $("#commentForm").validate(
                {
                    rules:
                    {
                        nombre:
                        {
                            required: true,
                            minlength: 1,
                            remote: {
                                url: "/Proyectos/CheckName",
                                type: "post",
                                delay: 1000,
                                data: {
                                    name: function () {
                                        return $("#input2").val();
                                    },
                                    oldName: function () {
                                        return $("#nombreH").val();
                                    }

                                }
                            }
                        },
                        objetivo:
                        {

                            rangelength: [1, 200]

                        },
                        duracionEstimada:
                        {
                            required: true,
                            min: 0


                        },
                        duracionReal:
                        {
                            required: true,
                            min: 0
                        },
                        estado:
                        {
                            remote: {
                                url: "/Proyectos/CantidadReqTerminados",
                                type: "post",
                                delay: 1000,
                                data: {
                                    //estado: function () {
                                    //    return $( "#dropdownEstado option:selected" ).text();
                                    //},
                                    //idProyecto:  function () {
                                    //    return $("#id").val();
                                    //}

                                    estado: function () {
                                        //alert($( "#dropdownEstado option:selected" ).text());

                                        return $("#dropdownEstado option:selected").text();
                                    },
                                    idProyecto: $("#idProyecto").val(),

                                }

                            }

                        }



                    },
                    messages:
                    {
                        nombre:
                        {

                            required: "Inserte al menos 1 caracter",
                            remote: "Ya existe un Proyecto con ese nombre"
                        },
                        objetivo: "Rango [1-200] caracteres",
                        duracionEstimada: "La duracion tiene que ser mayor que 0",
                        duracionReal: "La duracion no puede ser negativa",
                        estado:
                        {
                            remote: "Existen Requerimientos En Ejecucion"
                        }

                    },

                    errorPlacement: function (error, element) {
                        if ((element.attr('name') === 'nombre')) {
                            error.insertAfter($('#errorNombre'));
                        }
                        if ((element.attr('name') === 'objetivo')) {
                            error.insertAfter($('#errorObjetivo'));
                        }
                        if ((element.attr('name') === 'duracionEstimada')) {
                            error.insertAfter($('#errorDuracionEstimada'));
                        }
                        if ((element.attr('name') === 'duracionReal')) {
                            error.insertAfter($('#errorDuracionReal'));
                        }
                        if ((element.attr('name') === 'estado')) {
                            $('#Requerimientos').modal('show');
                        }




                    },
                    invalidHandler: function (form, validator) {

                        $('#loading').hide('fast');
                        $('#acceptar').show('fast');

                    },



                });
        });


    </script>


    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>



    <!-- Modal -->
    <div class="modal fade" id="Requerimientos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="text-center">No se puede terminar el Proyecto</h5>
                    <h5 class="text-center">Existen requerimientos en ejecución</h5>
                </div>
                <div class="modal-footer">
                    <div class="col text-center">
                        <a href="#" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Aceptar" class="btn d-inline-block"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                    </div>

                </div>

            </div>

        </div>
    </div>



</body>