<head>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


    <style>
    </style>




</head>


<body>

    <form class="cmxform" id="commentForm" name="commentForm" method="post" action="Create">
        <fieldset>

            <div id="errors"></div>
            <div class="container justify-content-center" style="width:2000px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91); background-color: rgba(192,159,128, 0.7)">

                @if (ViewBag.error != null)
                {
                    <div class="alert alert-primary text-center m-1 pt-1" style="color:white;  border-radius:25px ; border-color:transparent ; background-color:red; height:50px">@ViewBag.error</div>
                }
                else
                {
                    <div class="alert alert-primary text-center m-1 pt-1" style=" border-color:transparent ; background-color:transparent; height:50px"></div>

                }

                @*Filas con las etiquetas de Nombre y Estado*@
                <div class="form-row">
                    <div class="col-5 ">
                        <h5> Nombre * </h5>
                    </div>

                    <div class="col-2 ">

                    </div>

                    <div class="col-5">
                        <h5> Estado </h5>
                    </div>
                </div>

                <div class="form-row mb-4">


                    <div class="col-5">

                        @*Atributo Nombre*@

                        <div class="input-group">



                            <!-- <span class="input-group-text" style="width:200px" id="basic-addon1">Nombre *</span>-->



                            @if (ViewBag.permisos.Item3[0] == 1)
                            {
                                <input id="input2" class="form-control bg-" style=" max-width:none; background-color:white; border-color:transparent" name="nombre" maxlength="30" type="text">

                            }
                            else
                            {
                                <input id="input2" class="form-control bg-" style=" max-width:none; background-color:white; border-color:transparent" name="nombre" maxlength="30" type="text" readonly>
                            }

                        </div>
                        <div id="errorNombre"></div>


                    </div>

                    @* Columna para dividr los datos *@
                    <div class="col-2">

                    </div>


                    <div class="col-5">

                        <div class="input-group">


                            <select class="custom-select" style="text-align:center; max-width:200px; background-color:white; border-color:transparent" name="estado">
                                @if (ViewBag.permisos.Item3[2] == 1)
                                {


                                    <option value="Preparación">Preparación</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Cancelado">Cancelado</option>
                                    <option value="Terminado">Terminado</option>


                                }
                                else
                                {
                                    <option value="Preparacion">Preparacion</option>
                                }

                            </select>
                        </div>



                    </div>
                </div>

                @*Fila con la etiqueta de Objetivo*@
                <div class="form-row">
                    <div class="col">
                        <h5> Objetivo</h5>
                    </div>
                </div>


                @*Atributo Objetivo*@
                <div class="input-group mb-4 ">
                    @if (ViewBag.permisos.Item3[1] == 1)
                    {
                        <textarea class="form-control" name="objetivo" placeholder="Max 200 caracteres" maxlength="200" aria-label="With textarea" style="max-width:none; background-color:white" id="comment"></textarea>

                    }
                    else
                    {
                        <textarea class="form-control" name="objetivo" placeholder="Max 200 caracteres" maxlength="200" aria-label="With textarea" style="max-width:none; background-color:white" id="comment" readonly></textarea>
                    }


                </div>

                @*Filas con las etiquetas de Fechas *@

                <div class="form-row">
                    <div class="col-5 ">
                        <h5> Fecha Inicio </h5>
                    </div>

                    <div class="col-2 ">

                    </div>

                    <div class="col-5">
                        <h5> Fecha Finalización </h5>
                    </div>
                </div>



                @*Fechas *@
                <div class="form-row mb-4">
                    <div class="col-5">

                        <div class="input-group">

                            @if (ViewBag.permisos.Item3[5] == 1)
                            {
                                <input id="cfecha" class="form-control text-center" style="width:200px; background-color:white" type="date" value="@DateTime.Now.ToShortDateString()" name="fechaInicio" required>
                            }
                            else
                            {
                                <input id="cfecha" class="form-control text-center" style="width:200px; background-color:white" type="text" name="date" placeholder="@DateTime.Now.ToShortDateString()" disabled>
                            }

                        </div>
                        <small class="form-text text-left" style="color:black">Por defecto Fecha del dia creado </small>

                    </div>

                    @* Columna para dividr los datos *@
                    <div class="col-2">

                    </div>


                    <div class="col-5">

                        <div class="input-group">


                            @if (ViewBag.permisos.Item3[6] == 1)
                            {
                                <input id="cfecha2" class="form-control text-center" style="width:200px; background-color:white" type="date" placeholder="@DateTime.Parse("1800-01-01").ToShortDateString()" name="fechaFinalizacion" required>
                            }
                            else
                            {
                                <input id="cfecha" class="form-control text-center" style=" width:200px; background-color:white" type="text" name="fin" placeholder="@DateTime.Parse("1800-01-01").ToShortDateString()" disabled>
                            }
                        </div>


                        <small class="form-text text-left" style="color:black">Por defecto 01-01-1800  </small>

                    </div>
                </div>


                @*Filas con las etiquetas de Duraciones *@
                <div class="form-row">
                    <div class="col-5">
                        <h5> Duración Estimada </h5>
                    </div>

                    <div class="col-2">

                    </div>

                    <div class="col-5">
                        <h5> Duración Real </h5>
                    </div>
                </div>




                @*Duraciones *@
                <div class="form-row mb-4">
                    <div class="col-5">

                        <div class="input-group">

                            @if (ViewBag.permisos.Item3[3] == 1)
                            {
                                <input id="input4" class="form-control" type="number" value="0" style="text-align:center; width:200px; background-color:white" name="duracionEstimada">

                            }
                            else
                            {
                                <input id="input4" class="form-control" type="number" value="0" style="text-align:center; width:200px; background-color:white" name="duracionEstimada" readonly>
                            }

                        </div>
                        <small class="form-text" style="color:black">Formato en horas </small>
                        <div id="errorDuracionEstimada"></div>

                    </div>


                    @* Columna para dividr los datos *@
                    <div class="col-2">

                    </div>


                    <div class="col-5">

                        <div class="input-group">


                            @if (ViewBag.permisos.Item3[4] == 1)
                            {
                                <input id="input5" class="form-control" type="number" style="text-align:center; width:200px; background-color:white" name="duracionReal" required>

                            }
                            else
                            {
                                <input id="input5" class="form-control" type="number" style="text-align:center; width:200px; background-color:white" name="duracionReal" readonly>
                            }
                        </div>

                        <small class="form-text" style="color:black">Formato en horas </small>
                        <div id="errorDuracionReal"></div>

                    </div>
                </div>



                <input id="cdr" class="form-control" type="number" name="cantidadReq" value="0" hidden>

                @*Fila con la etiqueta de Cliente*@
                <div class="form-row">
                    <div class="col">
                        <h5> Cliente *</h5>
                    </div>
                </div>



                @*Atributo cedulaCliente*@
                <div class="input-group mb-4">
                    <select class="custom-select" name="cedulaCliente" style="max-width:none; background-color:white" id="inputGroupSelect03">


                        @if (ViewBag.permisos.Item3[7] == 1)
                        {


                            <option value="">Seleccione un Cliente </option>


                            foreach (var item in ViewBag.cliente)
                            {
                                <option value="@item.cedulaPK"> @item.nombre @item.apellido1 @item.empresa </option>


                            }


                        }
                        else
                        {
                            <option value="">Seleccione un Cliente </option>
                        }

                    </select>
                    @*<div class="input-group-append" style="max-width:none; width:180px">
                            <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2" style="max-width:none; width:180px" href="/Proyectos/IndexCliente" role="button" data-toggle="tooltip" data-placement="top" title="Añadir Cliente">Clientes</a>
                        </div>*@

                </div>

                <div id="errorCedulaCliente"></div>


                @*Fila con la etiqueta de Lider*@
                <div class="form-row">
                    <div class="col">
                        <h5> Lider </h5>
                    </div>
                </div>

                @*Atributo cedulaLider*@
                <div class="input-group mb-4">



                    <select class="custom-select" id="inputGroupSelect01" style="max-width:none; background-color:white" name="cedulaLider">


                        @if (ViewBag.permisos.Item3[8] == 1)
                        {

                            <option selected value="">Seleccione un Lider</option>

                            foreach (var item in ViewBag.lider)
                            {
                                <option value="@item.idEmpleadoPK"> @item.nombre @item.apellido1 </option>
                            }
                        }
                        else
                        {

                            <option selected value="">Seleccione un Lider</option>
                        }

                    </select>
                    @*<div class="input-group-append" style="max-width:none; width:180px">
                            <a class="btn btn-danger" style=" width:180px" href="/Proyectos/IndexEmpleado" role="button" data-toggle="tooltip" data-placement="top" title="Ver detalles de los empleados">Empleados</a>
                        </div>*@
                </div>






                <h5> * Campos requeridos</h5>




                <hr />



                <div class="row justify-content-center" style="max-width:1150px">
                    <div class="col-2  text-center">
                        <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="/Proyectos/Index/0"><img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
                    </div>

                    <div class="col-5 text-right">

                        <button type="reset" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cancelar">
                            <img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px">

                        </button>
                    </div>

                    <div class="col-5  text-center">

                        <button type="submit" id="btnsubmit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="right" title="Aceptar">
                            <img id="acceptar" src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            <div id="loading" style="width:80px;height:80px" class="spinner-border text-black" role="status"></div>
                        </button>

                    </div>
                </div>


            </div>


        </fieldset>

    </form>

    @Html.Partial("ModalClientes")

    <script>

        $('document').ready(function () {


            $('#loading').hide();



        });


        function myClose() {

            alert("closing");
            $('#exampleModal2').modal('hide');
        }



        $('#btnsubmit').on('click', function () {
            $('#acceptar').hide('fast');


            $('#loading').show('fast');


        });

    </script>



    <script>
        $(function () {

            $("#commentForm").validate(
                {
                    rules:
                    {
                        nombre:
                        {

                            required: true,
                            minlength: 1,
                            remote: {
                                url: "/Proyectos/CheckName",
                                type: "post",
                                delay: 1000,
                                data: {
                                    name: function () {
                                        return $("#input2").val();
                                    },
                                    oldName: null
                                }
                            }


                        },
                        cedulaCliente:
                        {
                            required: true

                        },
                        duracionEstimada:
                        {
                            required: true,
                            min: 0


                        },



                    },
                    messages:
                    {
                        nombre:
                        {
                            required: "Inserte al menos 1 caracter",
                            remote: "Ya existe un Proyecto con ese nombre"
                        },

                        cedulaCliente: "Seleccione un cliente",
                        duracionEstimada: "La duracion tiene que ser un numero positivo",


                    },

                    errorPlacement: function (error, element) {

                        if ((element.attr('name') === 'nombre')) {
                            error.insertAfter($('#errorNombre'));
                        }
                        if ((element.attr('name') === 'cedulaCliente')) {
                            error.insertAfter($('#errorCedulaCliente'));
                        }
                        if ((element.attr('name') === 'duracionEstimada')) {
                            error.insertAfter($('#errorDuracionEstimada'));
                        }





                    },
                    invalidHandler: function (form, validator) {

                        $('#loading').hide('fast');
                        $('#acceptar').show('fast');

                    },



                });
        });


    </script>


    <!-- Despliega el modal -->
    <script>
        $('#exampleModal2').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);


        })

        $('#exampleModal2').on('hide.bs.modal'), function (event) {

            alert('Helololol');
        }


    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>
