<head>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


    <style>

        .error {
            color: white;
            background-color: red;
            font-family: verdana, Helvetica;
        }
    </style>




</head>


<body>

    <form class="cmxform" id="commentForm" name="commentForm" method="post" action="Create">
        <fieldset>

            <div id="errors"></div>
            <div class="container justify-content-center bg-secondary" style="width:800px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91)">

                @if (ViewBag.error != null)
                {
                    <div class="alert alert-primary text-center m-3 pt-2" style="color:white;  border-radius:25px ; border-color:transparent ; background-color:red; height:50px">@ViewBag.error</div>
                }
                else
                {
                    <div class="alert alert-primary text-center m-3 pt-2" style=" border-color:transparent ; background-color:transparent; height:50px"></div>

                }


                <div class="form-row mb-2">
                    <div class="col">

                        @*Atributo Nombre*@
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:200px" id="basic-addon1">Nombre *</span>
                            </div>

                            @if (ViewBag.permisos.Item3[1] == 1)
                            {
                                <input id="input2" class="form-control" style=" max-width:none" name="nombre" type="text">

                            }
                            else
                            {
                                <input id="input2" class="form-control" style=" max-width:none" name="nombre" minlength="1" maxlength="30" type="text" readonly>
                            }

                        </div>
                        <div id="errorNombre"></div>


                    </div>
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Estado</span>
                            </div>

                            <select class="custom-select" style="text-align:center; max-width:none" name="estado">
                                @if (ViewBag.permisos.Item3[3] == 1)
                                {


                                    <option value="Preparacion">Preparacion</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Cancelado">Cancelado</option>
                                    <option value="Terminado">Terminado</option>


                                }
                                else
                                {
                                    <option value="Preparacion">Preparacion</option>
                                }

                            </select>
                        </div>



                    </div>
                </div>

                @*Atributo Objetivo*@
                <div class="input-group mb-2 ">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width:200px;   text-align:center" id="basic-addon1">Objetivo</span>
                    </div>
                    @if (ViewBag.permisos.Item3[2] == 1)
                    {
                        <textarea class="form-control" name="objetivo" placeholder="Max 200 caracteres" maxlength="200" aria-label="With textarea" style="max-width:none" id="comment"></textarea>

                    }
                    else
                    {
                        <textarea class="form-control" name="objetivo" placeholder="Max 200 caracteres" maxlength="200" aria-label="With textarea" style="max-width:none" id="comment" readonly></textarea>
                    }


                </div>



                <div class="form-row mb-2">
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:200px" id="basic-addon1">Duracion Estimada *</span>
                            </div>

                            @if (ViewBag.permisos.Item3[4] == 1)
                            {
                                <input id="input4" class="form-control" type="time" style=" max-width:none" name="duracionEstimada">

                            }
                            else
                            {
                                <input id="input4" class="form-control" type="time" style=" max-width:none" name="duracionEstimada" readonly>
                            }

                        </div>
                        <small class="form-text text-center" style="color:black">Formato horas:minutos (hh:mm) </small>
                        <div id="errorDuracionEstimada"></div>

                    </div>
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Duracion Real</span>
                            </div>


                            @if (ViewBag.permisos.Item3[5] == 1)
                            {
                                <input id="input5" class="form-control" type="time" style="text-align:center; max-width:none" name="duracionReal" required>

                            }
                            else
                            {
                                <input id="input5" class="form-control" type="time" style="text-align:center; max-width:none" name="duracionReal" readonly>
                            }
                        </div>

                        <small class="form-text text-center" style="color:black">Formato horas:minutos (hh:mm) </small>

                    </div>
                </div>

                @*Fechas *@
                <div class="form-row mb-2">
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:200px" id="basic-addon1">Fecha Inicio</span>
                            </div>

                            @if (ViewBag.permisos.Item3[6] == 1)
                            {
                                <input id="cfecha" class="form-control text-center" type="date" value="@DateTime.Now.ToShortDateString()" name="fechaInicio" required>
                            }
                            else
                            {
                                <input id="cfecha" class="form-control text-center" type="text" name="date" placeholder="@DateTime.Now.ToShortDateString()" disabled>
                            }

                        </div>
                        <small class="form-text text-center" style="color:black">Por defecto Fecha del dia creado </small>

                    </div>
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Fecha Finalizacion</span>
                            </div>



                            @if (ViewBag.permisos.Item3[7] == 1)
                            {
                                <input id="cfecha2" class="form-control text-center" type="date" placeholder="@DateTime.Parse("1800-01-01").ToShortDateString()" name="fechaFinalizacion" required>
                            }
                            else
                            {
                                <input id="cfecha" class="form-control text-center" type="text" name="fin" placeholder="@DateTime.Parse("1800-01-01").ToShortDateString()" disabled>
                            }
                        </div>


                        <small class="form-text text-center" style="color:black">Por defecto 01-01-1800  </small>

                    </div>
                </div>

                <input id="cdr" class="form-control" type="number" name="cantidadReq" value="0" hidden>


                @*Atributo cedulaCliente*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect03" style="width:200px">Cliente *</label>
                    </div>

                    <select class="custom-select" name="cedulaCliente" style="max-width:395px" id="inputGroupSelect03">


                        @if (ViewBag.permisos.Item3[9] == 1)
                        {





                            foreach (var item in ViewBag.cliente)
                            {
                                <option value="@item.cedulaPK"> @item.nombre @item.apellido1 @item.empresa </option>


                            }


                        }

                    </select>
                    <div class="input-group-append" style="max-width:none; width:180px">
                        <a class="btn btn-danger" style="max-width:none; width:180px" href="/Proyectos/IndexCliente" role="button" data-toggle="tooltip" data-placement="top" title="Ver detalles de los Clientes">Clientes</a>
                    </div>

                </div>

                <div id="errorCedulaCliente"></div>

                @*Atributo cedulaLider*@
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01" style="width:200px">Lider</label>
                    </div>



                    <select class="custom-select w-100" id="inputGroupSelect01" style="max-width:395px" name="cedulaLider">


                        @if (ViewBag.permisos.Item3[10] == 1)
                        {

                            <option selected value="">Seleccione un Lider</option>

                            foreach (var item in ViewBag.lider)
                            {
                                <option value="@item.idEmpleadoPK"> @item.nombre @item.apellido1 </option>
                            }
                        }

                    </select>
                    <div class="input-group-append" style="max-width:none; width:180px">
                        <a class="btn btn-danger" style="max-width:none; width:180px" href="/Proyectos/IndexEmpleado" role="button" data-toggle="tooltip" data-placement="top" title="Ver detalles de los empleados">Empleados</a>
                    </div>
                </div>






                <h5> * Campos requeridos</h5>




                <hr />



                <div class="row justify-content-center" style="max-width:1150px">
                    <div class="col-4  text-center">
                        <a data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn d-inline-block" href="/Proyectos/Index/"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                    </div>
                    <div class="col-4  text-center">

                        <button type="submit" id="btnsubmit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="right" title="Aceptar">
                            <img id="acceptar" src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            <div id="loading" style="width:80px;height:80px" class="spinner-border text-black" role="status"></div>
                        </button>

                    </div>
                </div>
















            </div>


        </fieldset>

    </form>



    <script>

        $('document').ready(function () {


            $('#loading').hide();



        });



        $('#btnsubmit').on('click', function () {
            $('#acceptar').hide('fast');


            $('#loading').show('fast');


        });

    </script>



    <script>
        $(function () {
            $("#commentForm").validate(
                {
                    rules:
                    {
                        nombre:
                        {
                            required: true,
                            minlength: 1
                        },
                        duracionEstimada:
                        {

                            required: true

                        },
                        cedulaCliente:
                        {
                            required: true

                        }




                    },
                    messages:
                    {
                        nombre: "Inserte al menos 1 caracter",
                        duracionEstimada: "Inserte la duracion estimada",
                        cedulaCliente: "Seleccione un cliente"


                    },

                    errorPlacement: function (error, element) {
                        if ((element.attr('name') === 'nombre')) {
                            error.insertAfter($('#errorNombre'));
                        }
                        if ((element.attr('name') === 'duracionEstimada')) {
                            error.insertAfter($('#errorDuracionEstimada'));
                        }
                        if ((element.attr('name') === 'cedulaCliente')) {
                            error.insertAfter($('#errorCedulaCliente'));
                        }





                    },
                    invalidHandler: function (form, validator) {

                        $('#loading').hide('fast');
                        $('#acceptar').show('fast');

                    },



                });
        });


    </script>




    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>