@model IEnumerable<ProyectoIntegrador.BaseDatos.Proyecto>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Proyectos";

}

@*Se crean variables con el fin de identificar las clases, para poder activar un tab dependiendo del id*@
@{ var idCarta = "#a"; }
@{ var idTab = "a"; }

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        /*Cambia los colores de las listas activas*/
        .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
            color: #ffffff;
            background-color: #76323f;
            border-color: none;
        }

        /*Cambia los colores de los tooltips*/
        .tooltip > .tooltip-inner {
            background-color: #76323f;
            color: white;
        }

        .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
            border-bottom-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
            border-top-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
            border-left-color: #76323f
        }

        .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
            border-right-color: #76323f
        }
    </style>

</head>

<body>

    @if (Request.IsAuthenticated)
    {




       
        <br />

        <p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Consultar Proyectos</p>

        <hr>

        <div class="container " style="max-width: 1800px">
            <div class="row">

                <div class="col col-md-4 " style="width:auto; height:600px; border-radius:20px 20px 20px 20px">

                    <!-- Image and text -->

                    <nav class="navbar navbar-light bg-secondary" style="border-radius:20px 20px 0px 0px">
                        <a class="navbar-brand">
                            <img src="~/Content/folder.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                            Lista de Proyectos
                        </a>

                        <input type="text" style="border-radius:20px; background-color:#C4C4C4 ; border-color:transparent" id="myInput" onkeyup="myFunction()" placeholder=" Buscar por Proyectos">



                        @if (ViewBag.permisosEspecificos.Item2 == 1)
                        {
                            <a data-toggle="tooltip" onclick="my_loading(this,'30px','30px')" data-placement="top" title="Agregar Proyecto" href="/Proyectos/Create" class="btn"><img src="~/Content/plus.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>
                        }


                    </nav>

                    <div class="card" style="border-radius: 0px 0px 20px 20px ; background-color:#C09F80 ; height:530px; box-shadow: -4px 31px 44px 0px  rgba(128,128,128,0.91)">
                        <div class="list-group h-100 overflow-auto py-1" style="border-radius: 0px 0px 00px 20px" id="list-tab" role="tablist">


                            @foreach (var item in Model)
                            {
                                <a class="list-group-item list-group-item-action list-group-item-secondary my-1" style="border-radius:20px 20px 20px 20px" id="list-home-list" data-toggle="list" href=@idCarta role="tab">@Html.DisplayFor(modelItem => item.nombre)</a>
                                { idCarta += 1; }
                            }


                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="tab-content d-block" style="height:580px; width:1150px; border-radius:20px 20px 20px 20px " id="nav-tabContent">
                        @foreach (var item in Model)
                        {

                            <div class="tab-pane fade bg-secondary " style="max-width:1150px;border-radius:20px 20px 20px 20px" id=@idTab role="tabpanel" aria-labelledby="list-home-list">

                                <div class="row mx-4 mt-0 md-0 " style="height:48px">

                                    <div class="col-10" style="max-height:48px">
                                        <p class="font-weight-bold text-left" style="font-family:PlayfairDisplay-Bold; font-size:40px;">@item.nombre</p>
                                    </div>

                                    <!-- Botones de Editar y Borrar  -->
                                    <div class="col">

                                        @if (ViewBag.permisosEspecificos.Item4 == 1 || ViewBag.permisosEspecificos.Item4 == 2)
                                        {
                                            <a data-toggle="tooltip" onclick="my_loading(this,'30px','30px')" data-placement="left" title="Editar" href="/Proyectos/Edit/@item.idProyectoAID" class="btn"><img src="~/Content/edit.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>

                                        }
                                    </div>

                                    <div class="col">

                                        <!-- Puede Eliminar un Proyecto  -->
                                        @if ((ViewBag.permisosEspecificos.Item6 == 1 || ViewBag.permisosEspecificos.Item6 == 2))
                                        {

                                            if (item.estado != "Activo")
                                            {

                                                <!-- Button trigger modal -->
                                                <a href="#" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@item.idProyectoAID" data-whatever2=""><img data-toggle="tooltip" title="Eliminar" data-placement="top" src="~/Content/delete.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>
                                            }
                                            else
                                            {

                                                <a href="#" class="btn" data-toggle="modal" data-target="#ModalEliminarActivo"><img data-toggle="tooltip" title="Eliminar" data-placement="top" src="~/Content/delete.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>
                                            }

                                        }




                                    </div>



                                </div>

                                <hr />

                                <div class="container justify-content-center overflow-auto" style="max-height:390px; height:390px">




                                    @*Atributo Objetivo*@

                                    <div class="input-group mb-3  mx-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="width:200px;   text-align:center" id="basic-addon1">Objetivo</span>
                                        </div>

                                        <textarea class="form-control" name="objetivo" value="@item.objetivo" placeholder="@item.objetivo" maxlength="200" aria-label="With textarea" style="max-width:none" id="comment" readonly></textarea>


                                    </div>





                                    @* Fechas   *@
                                    <div class="form-row mb-2">
                                        <div class="col">
                                            @* Fecha Inicio   *@
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style="width:200px" id="basic-addon1">Fecha Inicio</span>
                                                </div>


                                                <input id="cfecha" class="form-control text-center" style="max-width:none" type="date" value="@item.fechaInicio.ToString("yyyy-MM-dd")" name="fechaInicio" readonly>


                                            </div>
                                            <small class="form-text text-center" style="color:black">Por defecto Fecha del dia creado </small>

                                        </div>
                                        <div class="col">

                                            @* Fecha Fin   *@
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Fecha Finalizacion</span>
                                                </div>

                                                <input id="cfecha2" class="form-control text-center" style="max-width:none" type="date" value="@item.fechaFinalizacion.ToString("yyyy-MM-dd")" name="fechaFinalizacion" readonly>

                                            </div>


                                            <small class="form-text text-center" style="color:black">Por defecto 01-01-1800  </small>

                                        </div>
                                    </div>



                                    @* Duraciones  *@
                                    <div class="form-row mb-2">
                                        <div class="col">

                                            @* Duraciones Estimada *@
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style="width:200px" id="basic-addon1">Duracion Estimada</span>
                                                </div>

                                                <input id="input4" class="form-control text-center" type="number" style=" max-width:none; text-align:center" value="@item.duracionEstimada" name="duracionEstimada" readonly>


                                            </div>

                                            <small class="form-text text-center" style="color:black">Formato en horas</small>

                                        </div>
                                        <div class="col">

                                            @* Duracione Real *@
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Duracion Real</span>
                                                </div>



                                                <input id="input5" class="form-control" type="number" style="text-align:center; max-width:none" value="@item.duracionReal" name="duracionReal" readonly>

                                            </div>

                                            <small class="form-text text-center" style="color:black">Formato en horas </small>

                                        </div>
                                    </div>



                                    @* Estado*@
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="width:200px;   text-align:center" id="basic-addon1">Estado</span>
                                        </div>

                                        <input class="input-group-text" style="max-width:none;width:356px" value="@item.estado" name="estado" type="text" readonly>

                                    </div>



                                </div>

                                <hr />
                                <div class="row justify-content-center" style="width:1150px ; height:100px">
                                    <div class="col-4  text-center">
                                        <a onclick="my_loading(this,'80px','80px')" data-toggle="tooltip" data-placement="left" title="Administrar Requerimientos" class="btn d-inline-block" href="@Url.Action("IndexRequerimientos", "Proyectos", new { idProyecto = item.idProyectoAID })"><img src="~/Content/clipboard.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                                    </div>
                                    <div class="col-4  text-center">
                                        <a onclick="my_loading(this,'80px','80px')" data-toggle="tooltip" data-placement="right" title="Administrar Equipo" class="btn d-inline-block" href="@Url.Action("IndexTrabajaEn", "Proyectos", new { idProyecto = item.idProyectoAID })"><img src="~/Content/team.svg" class="rounded float-right" style="height:80px ; width:80px"></a>

                                    </div>
                                </div>


                            </div>

                            //Le agrega un digito mas al idTab
                            { idTab += 1; }
                        }



                    </div>
                </div>


            </div>
        </div>


        @Html.Partial("ModalEliminar")

    }
    else
    {
        <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder ver los proyectos</div>
    }

    <!--Carga todos los scripts-->
    @Html.Partial("Scripts")


</body>
