@model IEnumerable<ProyectoIntegrador.BaseDatos.Proyecto>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Consulta";

}







@*Se crean variables con el fin de identificar las clases, para poder activar un tab dependiendo del id*@
@{ var idCarta = "#a"; }
@{ var idTab = "a"; }





@if (Request.IsAuthenticated)
{


    <h2>Consulta</h2>

    //Revisa si tiene permisos para agregar proyectos
    if (ViewBag.permisosEspecificos.Item5 == 1)
    {
        <p>
            @Html.ActionLink("AgregarUsuario", "Agregar")
        </p>
       
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    <div class="container " style="max-width: 1800px">
        <div class="row">

            <div class="col-6 col-md-4 h-25">

                @*NavBar con el titulo y el input para realizar busquedas*@
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand">ListaProyectos</a>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>



                <div class="list-group h-100 overflow-auto" style="max-height: 650px" id="list-tab" role="tablist">

                    

                    @foreach (var item in Model)
                    {
                        <a class="list-group-item list-group-item-action overflow-auto " id="list-home-list" data-toggle="list" href=@idCarta role="tab">@Html.DisplayFor(modelItem => item.nombre)</a>
                        { idCarta += 1; }
                    }


                </div>
            </div>





            <div class="col-12 col-md-8">
                <div class="tab-content w-75 h-25" id="nav-tabContent">


                    @foreach (var item in Model)
                    {

                        <div class="tab-pane fade " id=@idTab role="tabpanel" aria-labelledby="list-home-list">



                            <div class="card">
                                <div class="card-body">
                                    <p>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </p>

                                    <p>
                                        @Html.DisplayFor(modelItem => item.objetivo)
                                    </p>

                                    <p>
                                        @Html.DisplayFor(modelItem => item.estado)
                                    </p>

                                    @if (ViewBag.permisosEspecificos.Item4 == 1 || ViewBag.permisosEspecificos.Item4 == 2)
                                    {

                                        @Html.ActionLink("Edit", "Edit", new { id = item.idProyectoAID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                                    }


                                    @if (ViewBag.permisosEspecificos.Item6 == 1 || ViewBag.permisosEspecificos.Item6 == 2)
                                    {
                                        @Html.ActionLink("Delete", "Delete", new { id = item.idProyectoAID }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })


                                    }





                                </div>
                            </div>
                        </div>
                        //Le agrega un digito mas al idTab
                        { idTab += 1; }
                    }



                </div>
            </div>
        </div>
    </div>









}
else
{
    <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder ver los proyectos</div>
}



