@model ProyectoIntegrador.BaseDatos.Requerimiento

@{
    ViewBag.Title = "Edit";
}
<br />
<p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Editar Requerimiento</p>
<hr>

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <!-- Se define la letra y los estilos para el error y los por defecto -->
    <style>

        body {
            font-family: Arial, Sans-serif;
        }

        .error {
            color: white;
            background-color: red;
            font-family: verdana, Helvetica;
        }
    </style>



</head>

<body>

    <!-- Se crea el formulario con el que recibiremos los datos -->
    <form class="cmxform" id="commentForm" method="post" action="Edit">
        <fieldset>
            <div class="container justify-content-center bg-secondary" style="width:800px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91)">
                <!-- Si hay un error se despliega -->
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-primary text-center m-3 pt-2" style="color:white;  border-radius:25px ; border-color:transparent ; background-color:red; height:50px">@ViewBag.error</div>
                }
                else
                {
                    <div class="alert alert-primary text-center m-3 pt-2" style=" border-color:transparent ; background-color:transparent; height:50px"></div>

                }

                <!--Se pasa el id del proyecto asociado y el id de requerimiento que tenía antes, para verificar si fue cambiado en el post-->
                <input type="hidden" name="idProyecto" value="@ViewBag.idProyecto" />
                <input type="hidden" value="@Model.idReqPK" name="idRequerimientoViejo">

                @*Titulo de Atributo Descripción*@
                <div class="form-row">
                    <div class="col">
                        <h5> Descripción</h5>
                    </div>
                </div>

                @*Atributo Descripcion*@
                <div class="input-group mb-4  mx-6">
                    <textarea class="form-control" name="descripcion" style="max-width:none" maxlength="100" aria-label="With textarea" cols="0" id="comment">@Model.descripcion</textarea>
                </div>

                <div class="form-row">
                    @*Título de Atributo Complejidad*@
                    <div class="col-3 ">
                        <h5> Complejidad </h5>
                    </div>

                    <div class="col-3">

                    </div>

                    @*Título de Atributo Estado*@
                    <div class="col-3">
                        <h5> Estado </h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-3">
                        @*Atributo Complejidad*@
                        <div class="input-group">
                            <select class="custom-select" name="complejidad">
                                @switch (Model.complejidad)
                                {
                                    case "Simple":
                                        <option value="Simple" selected>Simple</option>
                                        <option value="Medio">Medio</option>
                                        <option value="Complejo">Complejo</option>
                                        <option value="Muy Complejo">Muy Complejo</option>
                                        break;

                                    case "Medio":
                                        <option value="Simple">Simple</option>
                                        <option value="Medio" selected>Medio</option>
                                        <option value="Complejo">Complejo</option>
                                        <option value="Muy Complejo">Muy Complejo</option>
                                        break;

                                    case "Complejo":
                                        <option value="Simple">Simple</option>
                                        <option value="Medio">Medio</option>
                                        <option value="Complejo" selected>Complejo</option>
                                        <option value="Muy Complejo">Muy Complejo</option>
                                        break;

                                    case "Muy Complejo":
                                        <option value="Simple">Simple</option>
                                        <option value="Medio">Medio</option>
                                        <option value="Complejo">Complejo</option>
                                        <option value="Muy Complejo" selected>Muy Complejo</option>
                                        break;

                                    default:
                                        <option value="Simple">Simple</option>
                                        <option value="Medio" selected>Medio</option>
                                        <option value="Complejo">Complejo</option>
                                        <option value="Muy Complejo">Muy Complejo</option>
                                        break;

                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-3">

                    </div>

                    <div class="col-3">
                        @*Atributo Estado*@
                        <div class="input-group">
                            <select class="custom-select" name="estado">
                                @switch (Model.estado)
                                {
                                    case "Preparacion":
                                        <option value="Preparacion" selected>Preparación</option>
                                        <option value="Activo">Activo</option>
                                        <option value="Terminado">Terminado</option>
                                        break;
                                    case "Activo":
                                        <option value="Preparacion">Preparación</option>
                                        <option value="Activo" selected>Activo</option>
                                        <option value="Terminado">Terminado</option>
                                        break;
                                    case "Terminado":
                                        <option value="Preparacion">Preparación</option>
                                        <option value="Activo">Activo</option>
                                        <option value="Terminado" selected>Terminado</option>
                                        break;
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    @*Título de Atributo id*@
                    <div class="col-2 ">
                        <h5> ID del requerimiento </h5>
                    </div>

                    <div class="col-4">

                    </div>

                    @*Título de Atributo nombre*@
                    <div class="col-3">
                        <h5> Nombre del requerimiento </h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-2">
                        @*Atributo requeirmiento*@
                        <div class="input-group">
                            <input id="id" class="form-control" type="number" style="text-align:center" value="@Model.idReqPK" name="idRequerimientoNuevo" required>
                        </div>
                        <div id="errorIdRequerimientoNuevo"></div>
                    </div>

                    <div class="col-4">

                    </div>

                    <div class="col-3">
                        @*Atributo nombre*@
                        <div class="input-group">
                            <input id="nom" class="form-control" style="text-align:center" value="@Model.nombre" name="nombre" minlength="1" maxlength="30" type="text" required>
                        </div>
                        <div id="errorNombre"></div>
                    </div>
                </div>

                <div class="form-row">
                    @*Título de Atributo Fecha de Inicio*@
                    <div class="col-4 ">
                        <h5> Fecha de Inicio </h5>
                    </div>

                    <div class="col-2 ">

                    </div>

                    @*Título de Atributo Fecha de Fin*@
                    <div class="col-4">
                        <h5> Fecha de Finalización </h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-3">
                        @*Atributo fechaInicio*@
                        <div class="input-group">
                            <input id="fi" class="form-control text-center" type="date" value="@Model.fechaDeInicio.ToString("yyyy-MM-dd")" name="fechai" required>
                        </div>
                        <small class="form-text text-center" style="color:black">Por defecto fecha del dia creado </small>
                        <div id="errorFechai"></div>
                    </div>

                    <div class="col-3">

                    </div>

                    <div class="col-3">
                        @*Atributo fechaFinalizacion*@
                        <div class="input-group">
                            <input id="fi" class="form-control text-center" type="date" value="@Model.fechaDeFinalizacion" name="fechaf">
                        </div>
                        <div id="errorFechaf"></div>
                    </div>
                </div>

                <div class="form-row">
                    @*Título de Atributo Duracion Estimada*@
                    <div class="col-4 ">
                        <h5> Duración Estimada </h5>
                    </div>

                    <div class="col-2 ">

                    </div>

                    @*Título de Atributo Duración Real*@
                    <div class="col-4">
                        <h5> Duración Real </h5>
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col-2">
                        @*Atributo duracionEstimada*@
                        <div class="input-group">
                            <input id="de" class="form-control" type="number" style="text-align:center" value="@Model.tiempoEstimado" name="duracionEstimada" required>
                        </div>
                        <small class="form-text text-center" style="color:black">Formato en cantidad de horas</small>
                        <div id="errorDuracionEstimada"></div>
                    </div>

                    <div class="col-4">

                    </div>

                    <div class="col-2">
                        @*Atributo duracionReal*@
                        <div class="input-group">
                            <input id="dr" class="form-control" type="number" style="text-align:center" value="@Model.tiempoReal" name="duracionReal">
                            <small class="form-text text-center" style="color:black">Formato en cantidad de horas</small>
                        </div>
                        <div id="errorDuracionReal"></div>
                    </div>
                </div>

                <h5> * Campos requeridos</h5>


                <div class="row justify-content-center" style="max-width:1150px">
                    <div class="col-4  text-center">
                        <a onclick="my_loading(this,'80px','80px')" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn d-inline-block" href="@Url.Action("Index", "Requerimientos", new { idProyecto = ViewBag.idProyecto })"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                    </div>
                    <div class="col-4  text-center">

                        <button onclick="my_loading(this,'80px','80px')" type="submit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="top" title="Aceptar">
                            <img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                        </button>
                    </div>
                </div>


            </div>
        </fieldset>
    </form>



    <!-- Script para que cambie la imagen del botón de aceptar por uno de cargando -->
    <script>

        $('document').ready(function () {


            $('#loading').hide();



        });


        $('#btnsubmit').on('click', function () {
            $('#acceptar').hide('fast');


            $('#loading').show('fast');


        });

    </script>


    <!-- Script de validación de los datos -->
    <script>
        $(function () {
            $("#commentForm").validate(
                {
                    rules:
                    {
                        idRequerimientoNuevo:
                        {
                            required: true,
                            min: 1
                        },
                        nombre:
                        {
                            required: true,
                            minlength: 1

                        },
                        duracionEstimada:
                        {
                            required: true,
                            min: 1

                        },
                        fechai:
                        {
                            required: true,

                        },
                        duracionReal:
                        {

                            required: true,
                            min: 0

                        }



                    },
                    messages:
                    {
                        idRequerimientoNuevo: "El id tiene que ser mayor de 0",
                        nombre: "Inserte al menos 1 caracter",
                        duracionEstimada: "Tiene que ser un numero mayor a 0",
                        fechai: "Inserte una fecha",
                        duracionReal: "Tiene que ser un numero positivo"

                    },

                    errorPlacement: function (error, element) {
                        if ((element.attr('name') === 'idRequerimientoNuevo')) {
                            error.insertAfter($('#errorIdRequerimientoNuevo'));
                        }
                        if ((element.attr('name') === 'nombre')) {
                            error.insertAfter($('#errorNombre'));
                        }
                        if ((element.attr('name') === 'fechai')) {
                            error.insertAfter($('#errorFechai'));
                        }
                        if ((element.attr('name') === 'duracionEstimada')) {
                            error.insertAfter($('#errorDuracionEstimada'));
                        }
                         if ((element.attr('name') === 'duracionReal')) {
                            error.insertAfter($('#errorDuracionReal'));
                        }

                    },
                    invalidHandler: function (form, validator) {

                        $('#loading').hide('fast');
                        $('#acceptar').show('fast');

                    },



                });
        });


    </script>



    <!-- Scripts para los tooltips -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>




</body>


