@model ProyectoIntegrador.BaseDatos.Requerimiento
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Edit";
}

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <!-- Se define la letra y los estilos para el error y los por defecto -->
</head>

<body>
    @if (Request.IsAuthenticated && ViewBag.permisosEditar.Item2 == 1)
    {
        <br />
        <p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Editar Requerimiento</p>
        <hr>

        <!-- Se crea el formulario con el que recibiremos los datos -->
        <form class="cmxform" id="commentForm" method="post" action="Edit">
            <fieldset>
                <div class="container justify-content-center bg-secondary" style="width:800px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91)">
                    <!--Se pasa el id del proyecto asociado y del requerimiento de manera oculta ya que al usuario no le interesa esto-->
                    <input type="hidden" id="idProy" name="idProyecto" value=@ViewBag.idProyecto>
                    <input type="hidden" id="idReq" name="idRequerimiento" value=@ViewBag.idRequerimiento>
                    <input type="hidden" id="nomV" name="nombreViejo" value=@Model.nombre>
                    <div class="form-row">
                        @*Título de Atributo Nombre del Requerimiento*@
                        <div class="col-5">
                            <h5> Nombre del Requerimiento *</h5>
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col-5">
                            @*Atributo nombre*@
                            <div class="input-group">
                                @if (ViewBag.permisosEditar.Item3[3] == 1)
                                {
                                    <input id="nom" class="form-control" value="@Model.nombre" style="text-align:center" name="nombre" minlength="1" maxlength="40" type="text" required>
                                }
                                else
                                {
                                    <input id="nom" class="form-control" value="@Model.nombre" style="text-align:center" name="nombre" minlength="1" maxlength="40" type="text" required readonly>
                                }
                            </div>
                            <div id="errorNombre"></div>
                        </div>
                    </div>

                    @*Titulo de Atributo Descripción*@
                    <div class="form-row">
                        <div class="col">
                            <h5> Descripción</h5>
                        </div>
                    </div>

                    @*Atributo descripcion*@
                <div class="input-group mb-4  mx-6">
                    @if (ViewBag.permisosEditar.Item3[7] == 1)
                    {
                        <textarea class="form-control" name="descripcion" maxlength="100" aria-label="With textarea" style="max-width:none" id="comment">@Model.descripcion</textarea>
                    }
                    else
                    {
                        <textarea class="form-control" name="descripcion" maxlength="100" aria-label="With textarea" style="max-width:none" id="comment" readonly>@Model.descripcion</textarea>
                    }
                </div>

                    <div class="form-row">
                        @*Título de Atributo Complejidad*@
                        <div class="col-4 ">
                            <h5> Complejidad </h5>
                        </div>

                        <div class="col-2">

                        </div>

                        @*Título de Atributo Estado*@
                        <div class="col-4">
                            <h5> Estado </h5>
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col-4">
                            @*Atributo Complejidad*@
                            <div class="input-group">
                                @if (ViewBag.permisosEditar.Item3[4] == 1)
                                {
                                    <select class="custom-select" name="complejidad" required>
                                        @switch (Model.complejidad)
                                        {
                                            case "Simple":
                                                <option value="Simple" selected>Simple</option>
                                                <option value="Medio">Medio</option>
                                                <option value="Complejo">Complejo</option>
                                                <option value="Muy Complejo">Muy Complejo</option>
                                                break;

                                            case "Medio":
                                                <option value="Simple">Simple</option>
                                                <option value="Medio" selected>Medio</option>
                                                <option value="Complejo">Complejo</option>
                                                <option value="Muy Complejo">Muy Complejo</option>
                                                break;

                                            case "Complejo":
                                                <option value="Simple">Simple</option>
                                                <option value="Medio">Medio</option>
                                                <option value="Complejo" selected>Complejo</option>
                                                <option value="Muy Complejo">Muy Complejo</option>
                                                break;

                                            case "Muy Complejo":
                                                <option value="Simple">Simple</option>
                                                <option value="Medio">Medio</option>
                                                <option value="Complejo">Complejo</option>
                                                <option value="Muy Complejo" selected>Muy Complejo</option>
                                                break;

                                            default:
                                                <option value="Simple">Simple</option>
                                                <option value="Medio" selected>Medio</option>
                                                <option value="Complejo">Complejo</option>
                                                <option value="Muy Complejo">Muy Complejo</option>
                                                break;

                                        }
                                    </select>
                                }
                                else
                                {
                                    <input id="comp" class="form-control" value="@Model.complejidad" style="text-align:center" name="complejidad" type="text" required readonly>
                                }
                            </div>
                            <div id="errorComplejidad"></div>
                        </div>

                        <div class="col-2">

                        </div>

                        <div class="col-4">

                            @*Atributo Estado*@
                            <div class="input-group">
                                <select class="custom-select" name="estado">
                                    @switch (Model.estado)
                                    {
                                        case "Preparacion":
                                            <option value="Preparacion" selected>Preparación</option>
                                            <option value="Activo">Activo</option>
                                            <option value="Terminado">Terminado</option>
                                            <option value="Cancelado">Cancelado</option>
                                            break;
                                        case "Activo":
                                            <option value="Preparacion">Preparación</option>
                                            <option value="Activo" selected>Activo</option>
                                            <option value="Terminado">Terminado</option>
                                            <option value="Cancelado">Cancelado</option>
                                            break;
                                        case "Terminado":
                                            <option value="Preparacion">Preparación</option>
                                            <option value="Activo">Activo</option>
                                            <option value="Terminado" selected>Terminado</option>
                                            <option value="Cancelado">Cancelado</option>
                                            break;
                                        case "Cancelado":
                                            <option value="Preparacion">Preparación</option>
                                            <option value="Activo">Activo</option>
                                            <option value="Terminado">Terminado</option>
                                            <option value="Cancelado" selected>Cancelado</option>
                                            break;
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        @*Título de atributo cedulaTesterFK*@
                        <div class="col-5">
                            <h5> Asignar tester </h5>
                        </div>
                    </div>

                    @if (ViewBag.permisosEditar.Item3[2] == 1)
                    {
                        <div class="form-row mb-4">
                            <div class="col-4">
                                @*Atributo Cédula Tester*@
                                <div class="input-group">
                                    <select class="custom-select" name="idTester">
                                        <option value="">No Asignar</option>
                                        @foreach (var item in ViewBag.testersDisponibles)
                                        {
                                            if (ViewBag.testerAsociado == item.idEmpleadoPK)
                                            {
                                                if (ViewBag.testerAsociado != null)
                                                {
                                                    <option value="@item.idEmpleadoPK" selected> @item.nombre @item.apellido1</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@item.idEmpleadoPK">@item.nombre @item.apellido1</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-row mb-4">
                            <div class="col-4">
                                @*Atributo Cédula Tester*@
                                <div class="input-group">
                                    <select class="custom-select" name="idTester" disabled>
                                        <option value="">No Asignar</option>
                                        @foreach (var item in ViewBag.testersDisponibles)
                                        {
                                            if (ViewBag.testerAsociado == item.idEmpleadoPK)
                                            {
                                                if (ViewBag.testerAsociado != null)
                                                {
                                                    <option value="@item.idEmpleadoPK" selected> @item.nombre @item.apellido1</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@item.idEmpleadoPK">@item.nombre @item.apellido1</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>

                        foreach (var item in ViewBag.testersDisponibles)
                        {
                            if (ViewBag.testerAsociado == item.idEmpleadoPK)
                            {
                                <input type="hidden" id="idTester" name="idTester" value=@item.idEmpleadoPK>
                            }

                        }

                    }

                    <div class="form-row">
                        @*Título de Atributo Fecha de Inicio*@
                        <div class="col-4 ">
                            <h5>Fecha de Inicio</h5>
                        </div>

                        <div class="col-2 ">

                        </div>

                        @*Título de Atributo Fecha de Fin*@
                        <div class="col-4 ">
                            <h5> Fecha de Fin</h5>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col-4">
                            @*Atributo fechaInicio*@
                            <div class="input-group">
                                @if (ViewBag.permisosEditar.Item3[8] == 1)
                                {
                                    <input id="cfechai" class="form-control text-center" type="date" name="fechai" value="@Model.fechaDeInicio.ToString("yyyy-MM-dd")">
                                }
                                else
                                {
                                    <input id="cfechai" class="form-control text-center" type="date" name="fechai" value="@Model.fechaDeInicio.ToString("yyyy-MM-dd")" readonly>
                                }
                            </div>
                            <small class="form-text text-left" style="color:black">Por defecto, la fecha que fue creado</small>
                        </div>

                        <div class="col-2">

                        </div>

                        <div class="col-4">
                            @*Atributo fechaFin*@
                            <div class="input-group">
                                <input id="cfechaf" class="form-control text-center" type="date" value="@if (Model.fechaDeFinalizacion.HasValue) { Model.fechaDeFinalizacion.ToString(); } ">
                            </div>

                        </div>

                    </div>


                    <div class="form-row">
                        @*Título de Atributo Duracion Estimada*@
                        <div class="col-4 ">
                            <h5> Duración Estimada</h5>
                        </div>

                        <div class="col-2 ">

                        </div>

                        @*Título de Atributo Duracion Real*@
                        <div class="col-4 ">
                            <h5> Duración Real</h5>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col-2">
                            @*Atributo duracionEstimada*@
                            <div class="input-group">
                                @if (ViewBag.permisosEditar.Item3[5] == 1)
                                {
                                    <input id="de" class="form-control" type="number" style=" text-align:center" name="duracionEstimada" value="@Model.tiempoEstimado">
                                }
                                else
                                {
                                    <input id="de" class="form-control" type="number" style=" text-align:center" name="duracionEstimada" value="@Model.tiempoEstimado" readonly>
                                }
                            </div>
                            <small class="form-text text-left" style="color:black">Por defecto, cero</small>
                        </div>

                        <div class="col-4">

                        </div>

                        <div class="col-2">
                            @*Atributo duraciónReal*@
                            <div class="input-group">
                                <input id="dr" class="form-control text-center" type="number" value="@Model.tiempoReal">
                            </div>
                            <small class="form-text text-left" style="color:black">Por defecto, cero</small>
                        </div>
                    </div>

                    <div class="form-row">
                        @*Título de Atributo Cumplimiento de Requerimiento*@
                        <div class="col-4 ">
                            <h5> Resultado </h5>
                        </div>

                        <div class="col-2 ">

                        </div>

                        @*Título de Atributo Estado del Resultado*@
                        <div class="col-4">
                            <h5> Estado del Resultado </h5>
                        </div>
                    </div>

                    <div class="form-row mb-4">
                        <div class="col-4">
                            <div class="input-group">
                                @*Atributo Resultado*@
                                <select class="custom-select" name="resultado">
                                    @switch (Model.resultado)
                                    {
                                        case null:
                                            <option value="" selected>No Terminado</option>
                                            <option value="true">Cumplido</option>
                                            <option value="false">No cumplido</option>
                                            break;
                                        case true:
                                            <option value="">No Terminado</option>
                                            <option value="true" selected>Cumplido</option>
                                            <option value="false">No cumplido</option>
                                            break;
                                        case false:
                                            <option value="">No Terminado</option>
                                            <option value="true">Cumplido</option>
                                            <option value="false" selected>No cumplido</option>
                                            break;
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-2">

                        </div>

                        <div class="col-5">
                            <div class="input-group">
                                @*Atributo Estado del Resultado*@
                                <select class="custom-select" name="estadoR">
                                    @switch (Model.estadoResultado)
                                    {
                                        case null:
                                            <option value="" selected>Seleccione el estado del resultado</option>
                                            <option value="Exitoso">Exitoso</option>
                                            <option value="Fallido">Fallido</option>
                                            <option value="Incompleto">Incompleto</option>
                                            break;
                                        case "Exitoso":
                                            <option value="">Seleccione el estado del resultado</option>
                                            <option value="Exitoso" selected>Exitoso</option>
                                            <option value="Fallido">Fallido</option>
                                            <option value="Incompleto">Incompleto</option>
                                            break;
                                        case "Fallido":
                                            <option value="">Seleccione el estado del resultado</option>
                                            <option value="Exitoso">Exitoso</option>
                                            <option value="Fallido" selected>Fallido</option>
                                            <option value="Incompleto">Incompleto</option>
                                            break;
                                        case "Incompleto":
                                            <option value="">Seleccione el estado del resultado</option>
                                            <option value="Exitoso">Exitoso</option>
                                            <option value="Fallido">Fallido</option>
                                            <option value="Incompleto" selected>Incompleto</option>
                                            break;
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    @*Titulo de Atributo detalle del resultado*@
                    <div class="form-row">
                        <div class="col">
                            <h5> Detalle del Resultado </h5>
                        </div>
                    </div>

                    @*Atributo detalle del resultado*@
                    <div class="input-group mb-4  mx-6">
                        <textarea class="form-control" name="detalleResultado" maxlength="250" aria-label="With textarea" style="max-width:none" id="comment">@Model.detallesResultado</textarea>
                    </div>

                    <h5> * Campos requeridos</h5>

                    <hr />

                    <div class="row justify-content-center" style="max-width:1150px">
                        <div class="col-2  text-center">
                            <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="@Url.Action("Index", "Requerimientos", new { idProyecto = ViewBag.idProyecto, idRequerimiento = ViewBag.idRequerimiento })">
                                <img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px">
                            </a>
                        </div>

                        <div class="col-5 text-right">
                            <button type="reset" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cancelar">
                                <img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            </button>
                        </div>

                        <div class="col-5  text-center">
                            <button type="submit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="top" title="Aceptar">
                                <img id="acceptar" src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                                <div id="loading" style="width:80px;height:80px" class="spinner-border text-black" role="status"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>



        <!-- Script para que cambie la imagen del botón de aceptar por uno de cargando -->
        <script>

            $('document').ready(function () {


                $('#loading').hide();



                                    });


            $('#btnsubmit').on('click', function () {
                $('#acceptar').hide('fast');


                $('#loading').show('fast');


                                    });

        </script>


        <!-- Script de validación de los datos -->
        <script>
            $(function () {
                $("#commentForm").validate(
                    {
                        rules:
                            {
                            nombre:
                                {
                                required: true,
                                minlength: 1,
                                remote:
                                    {
                                    url: "/Requerimientos/ReviseNombreRequerimiento",
                                    type: "post",
                                     delay: 1000,
                                    data:
                                        {
                                        name: function ()
                                            {
                                                return $("#nomN").val();
                                            },
                                        oldName: function ()
                                            {
                                                return $("#nomV").val();
                                            }
                                        }

                                    }

                                },
                            duracionEstimada:
                                {
                                required: true,
                                min: 0

                                },
                            fechai:
                                {
                                required: true,
                                    },
                                },
                            messages:
                            {
                            nombre:
                                {
                                required: "Inserte al menos 1 caractér",
                                remote: "Ya existe un requerimiento con ese nombre",
                                },
                            duracionEstimada: "Tiene que ser un numero mayor a 0",
                            fechai: "Inserte una fecha"

                            },

                            errorPlacement: function (error, element) {
                                                if ((element.attr('name') === 'idRequerimientoNuevo')) {
                                                    error.insertAfter($('#errorIdRequerimientoNuevo'));
                                                }
                                                if ((element.attr('name') === 'nombre')) {
                                                    error.insertAfter($('#errorNombre'));
                                                }
                                                if ((element.attr('name') === 'fechai')) {
                                                    error.insertAfter($('#errorFechai'));
                                                }
                                                if ((element.attr('name') === 'duracionEstimada')) {
                                                    error.insertAfter($('#errorDuracionEstimada'));
                                                }
                                            },
                            invalidHandler: function (form, validator) {

                                $('#loading').hide('fast');
                                $('#acceptar').show('fast');

                            },



                    });
            });


        </script>



        <!-- Scripts para los tooltips -->
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    }
    else
    {
        <div class="alert alert-primary text-center" style="color:white ; background-color:red">Usted no posee los permisos requeridos para realizar esta acción</div>
    }
</body>