@model ProyectoIntegrador.BaseDatos.Requerimiento

@{
    ViewBag.Title = "Edit";
}
<br />
<h2 align="center">Editar Requerimiento: </h2>
<hr />

<div class="container" align="center">
    <form class="cmxform" id="commentForm" method="post" action="Edit">
        <fieldset>
            <p>
                <label for="creq">ID del Requerimiento: </label>
                <input id="creq" name="idRequerimiento" placeholder="Ingrese el id del req" digits type="number" required />
            </p>

            <p>
                <label for="cnombre">Nombre: </label>
                <input id="cnombre" name="nombre" minlength="1" placeholder="Ingrese el nombre" maxlength="20" type="text" required />
            </p>

            <p>
                <label for="cdesc">Descripción: </label>
                <input id="cdesc" name="descripcion" minlength="1" placeholder="Ingrese las descripción del sistema" maxlength="100" type="text" style="width = 300px" />
            </p>

            <p>
                <label for="cde">Duración estimada:</label>
                <input id="cde" type="time" name="duracionEstimada" value="@TimeSpan.Parse("00:00")" placeholder="HH:MM">
                <small class="form-text text-muted text-danger">

                </small>
            </p>

            <p>
                <label for="cfechai">Fecha de inicio: </label>
                <input id="cfechai" type="text" name="fechai" value="@DateTime.Today" placeholder="DD-MM-AAAA">
                <small class="form-text text-muted text-danger">
                    Si no hay cambios, la fecha de inicio es la fecha actual del sistema.
                </small>
            </p>

            <p>
                <label for="cfechaf">Fecha de fin: </label>
                <input id="cfechaf" type="text" name="fechaf" value="@DateTime.Parse("01-01-1800")" placeholder="DD-MM-AAAA">
                <small class="form-text text-muted text-danger">
                    Si no hay cambios, la fecha será el 01-01-1800.
                </small>
            </p>

            <div class="input-group">
                <p class="text-black">Complejidad: </p>
                <select class="custom-select" name="complejidad">
                    <option selected>Medio</option>
                    <option value="Facil">Fácil</option>
                    <option value="Dificil">Difícil</option>
                </select>
            </div>
            <br />
            <div class="input-group" align="center">
                <p class="text-black">Estado: </p>
                <select class="custom-select" name="estado">
                    <option selected>Preparación</option>
                    <option value="Activo">Activo</option>
                    <option value="Terminado">Terminado</option>
                </select>
            </div>
            <input type="hidden" name="idProyecto" value="@ViewBag.idProyectoFK" />
            <br />
            <div class="input-group mb-3" align="center">
                <div class="input-group-prepend" align="center">
                    <label class="input-group-text" for="inputGroupSelect03">Testers disponibles:</label>
                </div>
                <select class="custom-select" name="idTester" id="inputGroupSelect03">

                    @foreach (var item in ViewBag.cedulaTesterFK)
                    {
                        <option value="@item.idEmpleadoPK"> @item.nombre @item.apellido1 @item.apellido2 </option>
                    }
                </select>
            </div>

            <p>
                <input class="submit" type="submit" value="Submit">
            </p>
        </fieldset>
    </form>
    <script>
        $("#commentForm").validate();
    </script>

    <script>
        $(function () {
            $('[data-toogle="tooltip"]').tooltip()
        }
        )
    </script>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", new { idProyecto = ViewBag.idProyecto })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

¨@*
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Requerimiento</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.idReqPK)

            @Html.HiddenFor(model => model.idProyectoFK)

            <div class="form-group">
                @Html.LabelFor(model => model.cedulaTesterFK, "cedulaTesterFK", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("cedulaTesterFK", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cedulaTesterFK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.complejidad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.complejidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.complejidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tiempoEstimado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tiempoEstimado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tiempoEstimado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tiempoReal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tiempoReal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tiempoReal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaDeInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaDeInicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaDeInicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fechaDeFinalizacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fechaDeFinalizacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fechaDeFinalizacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.horas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.horas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.horas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
*@