@model IEnumerable<ProyectoIntegrador.BaseDatos.Requerimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complejidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoEstimado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDeInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDeFinalizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complejidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempoEstimado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempoReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDeInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDeFinalizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
