@model ProyectoIntegrador.BaseDatos.Cliente

@{
    ViewBag.Title = "Edit Cliente";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <style type="text/css">

        /*Cambia los colores de las listas activas*/
        .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
            color: #ffffff;
            background-color: #76323f;
            border-color: none;
        }
        /*Cambia los colores de los tooltips*/
        .tooltip > .tooltip-inner {
            background-color: #76323f;
            color: white;
        }

        .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
            border-bottom-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
            border-top-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
            border-left-color: #76323f
        }

        .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
            border-right-color: #76323f
        }

        .error {
            color: white;
            background-color: red;
            font-family: verdana, Helvetica;
        }

        input.error, input select.error {
            background-color: white;
            border-color: red;
        }
    </style>

</head>

<body onload="cargarDatos('@Model.provincia','@Model.canton','@Model.distrito')">

    <h2 style="text-align:center">Editar Cliente  <img src="~/Content/boss.svg" width="70" height="70"></h2>
    <hr />
    <form id="clientForm" class="cmxform" name="clientForm" method="post" action="Create">
        <fieldset>
            @if (ViewBag.error != null)
            {
                <div class="alert alert-primary text-center m-3 pt-2" style="color:white;  border-radius:25px ; border-color:transparent ; background-color:red; height:50px">@ViewBag.error</div>
            }
            else
            {
                <div class="alert alert-primary text-center m-3 pt-2" style=" border-color:transparent ; background-color:transparent; height:50px"></div>

            }
            <input type="hidden" value="@Model.cedulaPK" name="cedulaVieja">
            <div class="container " style="max-width: 1400px;">
                <div class="tab-content d-block bg-secondary overflow-auto" style="height:auto; box-shadow: 1px 9px 22px 12px grey; border-radius:25px;" id="nav-tabContent">
                    <!--Despliegue del formulario-->
                    <div style="padding-left:20px; padding-top:20px; overflow-x:hidden" class="col-12">
                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Nombre-->
                                <h5 for="nombre" style="width:200px">Nombre *:</h5>
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none" } })
                                <div id="errorNombre"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Primer Apellido-->
                                <h5 for="apellido1" style="width:200px">Primer Apellido *:</h5>
                                @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none" } })
                                <div id="errorApe1"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Segundo Apellido-->
                                <h5 for="apellido2" style="width:200px">Segundo Apellido:</h5>
                                @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none" } })
                                <div id="errorApe2"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Cedula-->
                                <h5 for="cedulaPK" style="width:200px">Cédula:</h5>
                                @Html.EditorFor(model => model.cedulaPK, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none", @readonly = "true" } })
                                <div id="errorCed"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Email-->
                                <h5 for="correo" style="width:200px">Correo *:</h5>
                                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none" } })
                                <div id="errorEma"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Telefono-->
                                <h5 for="telefono" style="width:200px">Telefono:</h5>
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none" } })
                                <div id="errorTel"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Empresa-->
                                <h5 for="empresa" style="width:200px">Empresa *:</h5>
                                @Html.EditorFor(model => model.empresa, new { htmlAttributes = new { @class = "form-control", @style = "max-width:none" } })
                                <div id="errorEmp"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Provincia-->
                                <h5 for="provincia" style="width:200px">Provincia *:</h5>
                                <div id="destino"></div>
                                <div id="errorProv"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Canton-->
                                <h5 for="canton" style="width:200px">Canton *:</h5>
                                <div id="destino2"></div>
                                <div id="errorCant"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Distrito-->
                                <h5 for="distrito" style="width:200px">Distrito *:</h5>
                                <div id="destino3"></div>
                                <div id="errorDistr"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row mb-2" style="padding-left:5px">
                            <!--Campo Direccion Exacta-->
                            <h5 for="direccionExacta" style="width:200px">Direccion Exacta *:</h5>
                        </div>
                        <div class="form-row" style="padding-left:5px">
                            <textarea class="form-control col-7" id="direccionExacta" name="direccionExacta" style="width:600px; height: 200px;">@Model.direccionExacta</textarea>
                            <div id="errorDir"></div>
                        </div>
                        <br><br>
                        <h5>* Campos Requeridos</h5>
                        <hr>
                        <div class="row" style="max-width:1600px">
                            <!--Boton Cancelar-->
                            <div class="col-6  text-center" style=" padding-left:30%">
                                <a data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn d-inline-block" href="/Clientes/Index/"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                            </div>

                            <!--Boton Aceptar-->
                            <div class="col-6  text-center" style=" padding-right:30%">
                                <button type="submit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="top" title="Aceptar">
                                    <img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    @Html.Partial("ScriptsCliente")
    @Html.Partial("ScriptDropdown")
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}