@model IEnumerable<ProyectoIntegrador.BaseDatos.Cliente>

@{
    ViewBag.Title = "Index";
}
<br />
<h1 style="text-align:center">Consulta Clientes</h1>
<br />
<div class="consultaClientes">
    <table class="table" >
        <tr>
            <th colspan="1">
                <p id="title">
                    Lista Clientes
                </p>
                <!--@Html.DisplayNameFor(model => model.nombre) @Html.DisplayNameFor(model => model.apellido1)-->
            </th>
            <th>
                <input value="Ingrese Nombre Cliente" onclick="this.value=''"/>
                &nbsp&nbsp&nbsp&nbsp

                <a href="#">
                    <img src="~/Content/lupa.png" width="35px" height="35px" />
                </a>

                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href="/Clientes/Create">
                    <img src="~/Content/mas.png" width="35px" height="35px" />
                </a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="infoCliente" colspan="1">
                    <div>
                        @Html.DisplayFor(modelItem => item.nombre)
                        @Html.DisplayFor(modelItem => item.apellido1)
                    </div>
                </td>
                <td class="infoCliente" align="center">

                    @Html.ActionLink("Edit", "Edit", new { id = item.cedulaPK }) |
                    @Html.ActionLink("Details", "Details", new { id = item.cedulaPK }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.cedulaPK })
                </td>
            </tr>
        }
    </table>
</div>

<div>

</div>


