@model ProyectoIntegrador.BaseDatos.Empleado

@{
    ViewBag.Title = "Create";
}

<br />

<p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Agregar Empleado</p>



<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>

</head>



<hr />
<body onload="getProvincias('Seleccione una provincia','Seleccione un cantón','Seleccione un distrito')">


    <form id="employeeForm" class="cmxform" name="employeeForm" method="post" action="Create">
        <fieldset>

            <div id="errors"></div>
            <div class="container justify-content-center" style="width:2000px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91); background-color: rgba(192,159,128, 0.7)">

                @if (ViewBag.error != null)
                {
                    <div class="alert alert-primary text-center m-3" style="color:white ; background-color:red">@ViewBag.error</div>
                }
                else
                {
                    <div class="alert alert-primary text-center m-3 pt-2" style=" border-color:transparent ; background-color:transparent; height:50px"></div>
                }


                @*Primera fila*@
                <div class="form-row mb-2">
                    <div class="col-3">
                        <!--Campo Nombre-->
                        <h5 for="nombre" style="width:200px">Nombre *</h5>
                        <input class="form-control" id="nombre" name="nombre" type="text" style="background-color:#D7CEC7; border-color:transparent;max-width:none" />
                        <div id="errorNombre"></div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo Primer Apellido-->
                        <h5 for="apellido1" style="width:200px">Primer Apellido *</h5>
                        <input class="form-control" id="apellido1" name="apellido1" type="text" style="background-color:#D7CEC7; border-color:transparent; max-width:none" />
                        <div id="errorApellido"></div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo Segundo Apellido-->
                        <h5 for="apellido2" style="width:200px">Segundo Apellido</h5>
                        <input class="form-control" id="apellido2" name="apellido2" type="text" style="background-color:#D7CEC7; border-color:transparent;max-width:none" />
                    </div>
                </div>
                <br>

                @*Segunda fila*@
                <div class="form-row mb-2">
                    <div class="col-3">
                        <!--Campo Cedula-->
                        <h5 for="idEmpleadoPK" style="width:200px">Cédula*:</h5>
                        <input class="form-control" id="idEmpleadoPK" name="idEmpleadoPK" type="text" style="background-color:#D7CEC7; border-color:transparent; max-width:none" placeholder="000000000" />
                        <div id="errorCedula"></div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo Fecha de nacimiento-->
                        <h5 for="fechaNacimiento" style="width:200px">Fecha de nacimiento*</h5>
                        <input id="fechaNacimiento" class="form-control text-center" style="width:200px; background-color:#D7CEC7" type="date" value="@DateTime.Now.ToShortDateString()" name="fechaNacimiento" required>
                        <div id="errorFechaNacimiento"></div>

                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo correo-->
                        <h5 for="correo" style="width:200px">Correo *</h5>
                        <input class="form-control" id="correo" name="correo" type="email" placeholder="example@email.com" style="background-color:#D7CEC7; border-color:transparent; max-width:none" />
                        <div id="errorCorreo"></div>
                    </div>
                </div>
                <br>

                @*Tercera fila*@
                <div class="form-row mb-2">
                    <div class="col-3">
                        <!--Campo telefono-->
                        <h5 for="telefono" style="width:200px">Tel&eacute;fono</h5>
                        <input class="form-control" id="telefono" name="telefono" type="text" style="background-color:#D7CEC7; border-color:transparent; max-width:none" />
                        <div id="errorTel"></div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo Estado-->
                        <h5 for="correo" style="width:200px">Estado *</h5>
                        <div class="input-group">

                            <select class="custom-select" style='background-color:#D7CEC7; border-color:transparent; width: 200px' name="estado">
                                <option value="">Escoja un estado...</option>
                                <option value="Disponible">Disponible</option>
                                <option value="Ocupado">Ocupado</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>
                        <div id="errorEstado"></div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo Puesto-->
                        <h5 for="tipoTrabajo" style="width:200px">Puesto *</h5>
                        <div class="input-group">

                            <select class="custom-select" style='background-color:#D7CEC7; border-color:transparent; width: 200px' name="tipoTrabajo">
                                <option value="">Escoja un estado...</option>
                                <option value="Tester">Tester</option>
                                <option value="Lider">Lider</option>
                                <option value="Jefe de Calidad">Jefe de Calidad</option>
                                <option value="Jefe de Soporte">Jefe de Soporte</option>
                            </select>
                        </div>
                        <div id="errorTipoTrabajo"></div>
                    </div>
                </div>

                @*Cuarta fila*@
                <br>
                <div class="form-row mb-2">
                    <div class="col-3">
                        <!--Campo Provincia-->
                        <h5 for="provincia" style="width:100px">Provincia *</h5>
                        <div id="destino"></div>
                        <div id="errorProv"></div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo Canton-->
                        <h5 for="canton" style="width:100px">Cant&oacute;n *</h5>
                        <div id="destino2"></div>
                        <div id="errorCant"></div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3">
                        <!--Campo Distrito-->
                        <h5 for="distrito" style="width:100px">Distrito *</h5>
                        <div id="destino3"></div>
                        <div id="errorDistr"></div>
                    </div>
                </div>
                @*Quinta fila*@
                <br>
                <div class="form-row mb-2" style="padding-left:5px">
                    <!--Campo Direccion Exacta-->
                    <h5 for="direccionExacta" style="width:400px">Direccion exacta</h5>
                </div>
                <div class="row" style="padding-left:15px; padding-right:15px;">
                    <textarea class="form-control col-12" id="direccionExacta" maxlength="300" name="direccionExacta" style="background-color:#D7CEC7; border-color:transparent;height: 90px;"></textarea>
                    @*<div id="errorDir"></div>*@
                </div>
                <br>

                @*Habilidades Tecnicas*@
                <h5> * Campos requeridos</h5>

                <hr />

                <div class="row" style="max-width:1600px">
                    <!--Boton Regresar-->
                    <div class="col-4  text-center">
                        <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="/Empleados/Index/"><img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
                    </div>

                    <!--Boton Cancelar o Reset-->
                    <div class="col-4 text-center">
                        <button type="reset" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cancelar">
                            <img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px">
                        </button>
                    </div>

                    <!--Boton Aceptar-->
                    <div class="col-4  text-center">
                        <button type="submit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="top" title="Aceptar">
                            <img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    @*
        @Html.Partial("ModalCancelar")
        @Html.Partial("Scripts")
        @Html.Partial("ScriptDropdown")*@
    @Html.Partial("Scripts")
    @Html.Partial("ScriptDropdown")
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script>
    $(function () {
        jQuery.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[a-z]+$/i.test(value);
        }, "No se admiten números en los nombres");
        $("#employeeForm").validate(
            {
                rules:
                {
                    nombre:
                    {
                        required: true,
                        minlength: 1,
                        maxlength: 15,
                        lettersonly: true
                    },
                    apellido1:
                    {
                        required: true,
                        minlength: 1,
                        maxlength: 15,
                        lettersonly: true
                    },

                    idEmpleadoPK:
                    {
                        required: true,
                        minlength: 8,
                        number: true,
                        maxlength: 20,
                        remote:
                        {
                            url: "/Empleados/CheckCedula",
                            type: "post",
                            delay: 1000,
                            data: {
                                cedulaPK: function () {
                                    return $("#idEmpleadoPK").val();
                                },
                                oldcedulaPK: null
                            }
                        }
                    },
                    fechaNacimiento:
                    {
                        required: true,
                    },
                    correo:
                    {

                        required: true,
                        maxlength: 50,
                        remote: {
                            url: "/Empleados/CheckEmail",
                            type: "post",
                            delay: 1000,
                            data: {
                                email: function () {
                                    return $("#correo").val();
                                },
                                oldEmail: null
                            }
                        }

                    },
                    estado:
                    {
                        required: true,

                    },
                    puesto:
                    {
                        required: true,

                    },
                    provincia:
                    {
                        required: true
                    },
                    canton:
                    {
                        required: true
                    },
                    distrito:
                    {
                        required: true
                    },

                    telefono:
                    {
                        number: true,
                        minlength: 8,
                        maxlength: 15
                    },

                },
                messages:
                {
                    idEmpleadoPK: {
                        required: "Cedula es requerida",
                        remote: "Ya existe esta cedula",
                        number: "Solo se pueden ingresar numeros",
                        minlength: "La cedula debe de tener al menos ocho digitos",
                    },
                    nombre:
                    {
                        required: "Nombre es requerido",
                        lettersonly: "No se admiten números en el nombre",
                        minlength: "Debe de haber mas de una letra",
                        maxlength: "El nombre debe de ser de menos de 15 letras"
                    },
                    apellido1:
                    {
                        required: "El primer apellido es requerido",
                        lettersonly: "No se admiten números en el apellido",
                        minlength: "Debe de haber mas de una letra",
                        maxlength: "El apellido debe de ser de menos de 15 letras"
                    },

                    correo:
                    {
                        required: "Se requiere un email valido, ejm: correo@email.com",
                        lettersonly: "No se admiten números en el nombre",
                        remote: "Ya existe correo"
                    },
                    fechaNacimiento: "Se requiere una fecha de nacimiento",
                    estado: "Se requiere el estado actual del Empleado",
                    tipoTrabajo: "Se requiere el puesto del nuevo empleado",
                    provincia: "Se requiere la provincia",
                    canton: "Se requiere el canton",
                    distrito: "Se requiere el distrito",
                    telefono: "Solo se aceptan numeros, minimo ocho digitos"
                },
                errorPlacement: function (error, element) {
                    if ((element.attr('name') === 'idEmpleadoPK')) {
                        error.insertAfter($('#errorCedula'));
                    }
                    if ((element.attr('name') === 'nombre')) {
                        error.insertAfter($('#errorNombre'));
                    }
                    if ((element.attr('name') === 'apellido1')) {
                        error.insertAfter($('#errorApellido'));
                    }
                    if ((element.attr('name') === 'correo')) {
                        error.insertAfter($('#errorCorreo'));
                    }
                    if ((element.attr('name') === 'fechaNacimiento')) {
                        error.insertAfter($('#errorFechaNacimiento'));
                    }
                    if ((element.attr('name') === 'estado')) {
                        error.insertAfter($('#errorEstado'));
                    }
                    if ((element.attr('name') === 'tipoTrabajo')) {
                        error.insertAfter($('#errorTipoTrabajo'));
                    }
                    if ((element.attr('name') === 'provincia')) {
                        error.insertAfter($('#errorProv'));
                    }
                    if ((element.attr('name') === 'canton')) {
                        error.insertAfter($('#errorCant'));
                    }
                    if ((element.attr('name') === 'distrito')) {
                        error.insertAfter($('#errorDist'));
                    }
                    if ((element.attr('name') === 'telefono')) {
                        error.insertAfter($('#errorTel'));
                    }
                },
                invalidHandler: function (form, validator) {
                    $('#loading').hide('fast');
                    $('#acceptar').show('fast');
                },
            });
    });
</script>
