@model ProyectoIntegrador.BaseDatos.Empleado

@{
    /**/

    ViewBag.Title = "Nuevo Empleado";
}
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        /*Cambia los colores de las listas activas*/
        .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
            color: #ffffff;
            background-color: #76323f;
            border-color: none;
        }
        /*Cambia los colores de los tooltips*/
        .tooltip > .tooltip-inner {
            background-color: #76323f;
            color: white;
        }

        .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
            border-bottom-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
            border-top-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
            border-left-color: #76323f
        }

        .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
            border-right-color: #76323f
        }
    </style>
</head>

<h2 style="text-align:center">Nuevo Empleado  <img src="~/Content/boss.svg" width="70" height="70"></h2>


<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container" style="max-width: 1800px; padding-left:25%;">
        <div class="row">
            <div class="col-8">
                <div class="tab-content d-block bg-secondary overflow-auto" style="height:auto; border-radius:20px 20px 20px 20px;" id="nav-tabContent">
                    <!--Despliegue del formulario-->
                    <div style="padding-left:20px; padding-top:20px;">
                        <div class="form-horizontal" id="employeeForm">

                            @*Atributo ID*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="idEmpleadoPK">ID:</span>
                                </div>
                                <input class="form-control" id="idEmpleadoPK" placeholder="Ingrese ID" name="idEmpleadoPK" type="text" required>
                            </div>

                            @*Atributo nombre*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="nombre">Nombre:</span>
                                </div>
                                <input class="form-control" id="input2" placeholder="Ingrese Nombre" style="text-align:center" name="nombre" minlength="1" maxlength="30" type="text" required>
                                @*<input class="form-control" id="nombre" name="nombre" type="text" />*@
                            </div>

                            @*Atributo apellido1*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="apellido1">Primer apellido:</span>
                                </div>
                                <input class="form-control" id="apellido1" name="apellido1" type="text" />
                            </div>

                            @*Atributo apellido2*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="apellido2">Segundo apellido:</span>
                                </div>
                                <input class="form-control" id="apellido2" name="apellido2" type="text" />
                            </div>

                            @*Atributo correo*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="correo">Email:</span>
                                </div>
                                <input class="form-control" id="correo" name="correo" type="email" placeholder="example@example.com" />
                            </div>

                            @*Atributo telefono*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="telefono">Telefono:</span>
                                </div>
                                <input class="form-control" id="telefono" name="telefono" type="text" />
                            </div>

                            @*Atributo fechaNacimiento*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="fechaNacimiento">Fecha de Nacimiento:</span>
                                </div>
                                <input class="form-control" id="fechaNacimiento" name="fechaNacimiento" type="date" placeholder="example@example.com" />
                            </div>

                            @*Atributo provincia*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="provincia">Provincia:</span>
                                </div>
                                <select class="form-control" id="provincia" name="provincia" onchange="$('#canton1').show()" onclick="getCanton(this.options[ this.options.selectedIndex ].value)"></select>
                            </div>

                            @*Atributo canton*@
                            <div class="input-group mb-3" id="canton1" style="display:none;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="canton">Canton:</span>
                                </div>
                                <select class="form-control" id="canton" name="canton" onchange="$('#distrito1').show()"></select>
                            </div>

                            @*Atributo distrito*@
                            <div class="input-group mb-3" id="distrito1" style="display:none;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="distrito">Distrito:</span>
                                </div>
                                <select class="form-control" id="distrito" name="distrito"></select>
                                <input class="form-control" id="distrito" name="distrito" type="text" />
                            </div>


                            @*Atributo direccionExacta*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="direccionExacta">Direccion Exacta:</span>
                                </div>
                                <textarea class="form-control" id="direccionExacta" name="direccionExacta" placeholder="Direccion de la empresa"></textarea>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.tipoTrabajo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.tipoTrabajo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tipoTrabajo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*Atributo estado
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="estado">Estado</label>
            </div>
            <select class="custom-select" id="estado">
                <option selected>Escoja...</option>
                <option value="1">Disponible</option>
                <option value="2">Ocupado</option>
            </select>
        </div>

                            Atributo tipoTrabajo
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="tipoTrabajo">Puesto</label>
                                </div>
                                <select class="custom-select" id="tipoTrabajo">
                                    <option selected>Escoja...</option>
                                    <option value="1">Lider</option>
                                    <option value="2">Tester</option>
                                </select>
                            </div>
                            *@
                            <div class="col text-center">
                                <!--Cancelar-->
                                <a href="#" data-toggle="modal" data-target="#modalCancelar" title="Cancelar" class="btn"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
                                <!--Aceptar-->
                                <input type="image" title="Aceptar" src="~/Content/aceptar.svg" alt="Submit Form" class="btn d-inline-block" style="height:80px ; width:80px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("ModalCancelar")
    @Html.Partial("Scripts")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>