@model ProyectoIntegrador.BaseDatos.Empleado

@{
    ViewBag.Title = "Edit";
}

<br />

<p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Editar Empleado</p>

<hr>

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <style>
        .error {
            color: white;
            background-color: red;
            font-family: verdana, Helvetica;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        /*Cambia los colores de las listas activas*/
        .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
            color: #ffffff;
            background-color: #76323f;
            border-color: none;
        }
        /*Cambia los colores de los tooltips*/
        .tooltip > .tooltip-inner {
            background-color: #76323f;
            color: white;
        }

        .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
            border-bottom-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
            border-top-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
            border-left-color: #76323f
        }

        .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
            border-right-color: #76323f
        }
    </style>
</head>



<hr />
<body onload="getProvincias()">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form class="cmxform" id="commentForm" name="commentForm" method="post" action="Edit">
            <fieldset>

                <div id="errors"></div>
                <div class="container justify-content-center bg-secondary" style="width:800px; padding-top:20px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91)">

                    @*Atributo ID*@
                    <div class="form-row mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:200px" id="basic-addon1">ID *</span>
                            </div>

                            <input id="input1" class="form-control" value="@Model.idEmpleadoPK" style=" max-width:none" name="idEmpleadoPK" placeholder="ID del empleado" type="text">
                        </div>
                        <div id="errorID"></div>
                    </div>

                    @*Segunda fila*@
                    <div class="form-row mb-2">
                        @*Atributo nombre*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="width:200px" id="basic-addon1">Nombre *</span>
                                </div>
                                <input id="input2" class="form-control" value="@Model.nombre" style=" max-width:none" name="nombre" placeholder="Primer nombre" type="text">
                            </div>
                            <div id="errorNombre"></div>
                        </div>

                        @*Atributo apellido1*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="width:200px" id="basic-addon1">Primer apellido</span>
                                </div>
                                <input id="input3" class="form-control" value="@Model.apellido1" style=" max-width:none" name="apellido1" placeholder="Primer apellido" type="text">
                            </div>
                        </div>
                    </div>

                    @*Tercera fila*@
                    <div class="form-row mb-2">
                        @*Atributo segundo apellido*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Segundo apellido</span>
                                </div>
                                <input id="input4" class="form-control" type="text" value="@Model.apellido2" style="text-align:center; max-width:none" name="apellido2">
                            </div>
                        </div>

                        @*Atributo correo*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Email *</span>
                                </div>
                                <input id="input5" class="form-control" type="email" value="@Model.correo" style="text-align:center; max-width:none" name="correo">
                            </div>
                            <div id="errorCorreo"></div>
                        </div>
                    </div>

                    @*Cuarta fila*@
                    <div class="form-row mb-2">

                        @*Atributo telefono*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Telefono</span>
                                </div>
                                <input id="input6" class="form-control" type="text" value="@Model.telefono" style="text-align:center; max-width:none" name="telefono">
                            </div>
                        </div>

                        @*Atributo fechaNacimiento*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Fecha de Nacimiento *</span>
                                </div>
                                <input value="@Html.DisplayFor(model => model.fechaNacimiento)" style=" max-width:none" r class="form-control">
                            </div>
                        </div>
                        <div id="errorFechaNacimiento"></div>
                    </div>

                    @*Quinta fila*@
                    <br>
                    <div class="form-row mb-2">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="provincia" style="width:200px">direccion del empleado:</span>
                                </div>
                                <input class="form-control" type="text" style=" max-width:none" value="@Model.provincia,@Model.canton,@Model.distrito" readonly />
                            </div>
                        </div>
                        <div class="col -4">
                            <div class="input-group">
                                <button class="form-control" type="button" onclick="$('#prov1').show();">Cambiar</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div style="display:none;" id="prov1">
                        <h5>Escoja la nueva ubicación:</h5>
                        <br>
                        <div class="form-row mb-2">
                            <div class="col-4">
                                <!--Campo Provincia-->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="provincia" for="provincia" style="width:200px">Provincia</span>
                                    </div>
                                    <div id="destino"></div>
                                </div>
                            </div>
                            <div class="col">
                                <!--Campo Canton-->
                                <div class="input-group mb-3" id="canton1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="canton" for="canton" style="width:200px">Cantón</span>
                                    </div>
                                    <div id="destino2"></div>
                                </div>
                            </div>
                            <div class="col">
                                <!--Campo Distrito-->
                                <div class="input-group mb-3" id="distrito1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="distrito" for="distrito" style="width:200px">Distrito</span>
                                    </div>
                                    <div id="destino3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    @*Sexta fila*@
                    @*Atributo DireccionExacta*@
                    <div class="input-group mb-2 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:200px;   text-align:center" id="basic-addon1">Direccion</span>
                        </div>
                        <textarea class="form-control" name="direccion" value="@Model.direccion" placeholder="Max 200 caracteres" maxlength="200" aria-label="With textarea" style="max-width:none" id="comment"></textarea>
                    </div>

                    @*Setima fila*@
                    <div class="form-row mb-2">

                        @*Estado*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Estado</span>
                                </div>

                                <select class="custom-select" style="text-align:center; max-width:none" name="estado">
                                    value=
                                    <option value="@Model.estado">@Model.estado</option>
                                    <option value="Activo">Disponible</option>
                                    <option value="Ocupado">Ocupado</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                            <div id="errorEstado"></div>
                        </div>

                        @*Atributo Puesto*@
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Puesto</span>
                                </div>
                                <select class="custom-select" style="text-align:center; max-width:none" name="tipoTrabajo">
                                    <option value="@Model.tipoTrabajo">@Model.tipoTrabajo</option>
                                    <option value="Tester">Tester</option>
                                    <option value="Lider">Lider</option>
                                </select>
                            </div>
                            <div id="errorTipoTrabajo"></div>
                        </div>
                    </div>

                    @*Habilidades Tecnicas*@



                    <h5> * Campos requeridos</h5>

                    <hr />

                    <div class="row justify-content-center" style="max-width:1150px">
                        <div class="col-4  text-center">
                            <a data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn d-inline-block" href="/Empleados/Index/"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                        <div class="col-4  text-center">
                            <button type="submit" id="btnsubmit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="right" title="Aceptar">
                                <img id="acceptar" src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                                <div id="loading" style="width:80px;height:80px" class="spinner-border text-black" role="status"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        <script>
            $('document').ready(function () {
                $('#loading').hide();
            });

            $('#btnsubmit').on('click', function () {
                $('#acceptar').hide('fast');
                $('#loading').show('fast');
            });
        </script>

        <script>
            $(function () {
                $("#commentForm").validate(
                    {
                        rules:
                        {
                            ID:
                            {
                                required: true,
                                minlength: 8
                            },
                            nombre:
                            {
                                required: true
                            },

                            correo:
                            {
                                required: true
                            },

                            fechaNacimiento:
                            {
                                required: true
                            },

                            estado:
                            {
                                required: true
                            },

                            tipoTrabajo:
                            {
                                required: true
                            },
                        },
                        messages:
                        {
                            idEmpleadoPK: "Se requiere un ID valido",
                            nombre: "Se requiere un nombre de empleado valido",
                            correo: "Se requiere un email valido, ejm: correo@email.com",
                            fechaNacimiento: "Se requiere una fecha de nacimiento",
                            estado: "Se requiere el estado actual del Empleado",
                            tipoTrabajo: "Se requiere el puesto del nuevo empleado"
                        },

                        errorPlacement: function (error, element) {
                            if ((element.attr('name') === 'idEmpleadoPK')) {
                                error.insertAfter($('#errorID'));
                            }
                            if ((element.attr('name') === 'nombre')) {
                                error.insertAfter($('#errorNombre'));
                            }
                            if ((element.attr('name') === 'correo')) {
                                error.insertAfter($('#errorCorreo'));
                            }
                            if ((element.attr('name') === 'fechaNacimiento')) {
                                error.insertAfter($('#errorFechaNacimiento'));
                            }
                            if ((element.attr('name') === 'estado')) {
                                error.insertAfter($('#errorEstado'));
                            }
                            if ((element.attr('name') === 'tipoTrabajo')) {
                                error.insertAfter($('#errorTipoTrabajo'));
                            }
                        },

                        invalidHandler: function (form, validator) {
                            $('#loading').hide('fast');
                            $('#acceptar').show('fast');
                        },
                    });
            });
        </script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        @Html.Partial("ModalCancelar")
        @Html.Partial("Scripts")
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
