@model ProyectoIntegrador.BaseDatos.Empleado

@{
    /**/

    ViewBag.Title = "Edit";
}
<br />

<p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Editar Empleado</p>

<hr>

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


    <style>

        body {
            font-family: Arial, Sans-serif;
        }

        .error {
            color: white;
            background-color: red;
            font-family: verdana, Helvetica;
        }
    </style>



</head>



<body>


    <form class="cmxform" id="commentForm" name="commentForm" method="post" action="Edit">

        <fieldset>




            <div id="errors"></div>



            <div class="container justify-content-center bg-secondary" style="width:800px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91)">

                @*
                    @if (ViewBag.error != null)
                    {
                        <div class="alert alert-primary text-center m-3 pt-2" style="color:white;  border-radius:25px ; border-color:transparent ; background-color:red; height:50px">@ViewBag.error</div>
                    }
                    else
                    {
                        <div class="alert alert-primary text-center m-3 pt-2" style=" border-color:transparent ; background-color:transparent; height:50px"></div>

                    }


                    <input hidden class="form-control" value="@Model.idProyectoAID" name="id" type="text">
                *@




                <div class="form-row mb-2">
                    <div class="col">

                        @*Atributo ID*@
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:200px" id="basic-addon1">ID *</span>
                            </div>


                            <input id="input2" class="form-control" value="@Model.idEmpleadoPK" style=" max-width:none" name="idEmpleadoPK" type="text">
                        </div>
                        <div id="errorID"></div>

                    </div>
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Estado *</span>
                            </div>
                            <select class="custom-select" style="text-align:center; max-width:none" name="estado">
                                <option value="@Model.estado" selected>@Model.estado</option>
                                <option value="Disponible">Disponible</option>
                                <option value="Ocupado">Ocupado</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>
                        <div id="errorEstado"></div>
                    </div>
                </div>



                @*Atributo Direccion*@
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width:200px;   text-align:center" id="basic-addon1">Direccion</span>
                    </div>

                    <textarea class="form-control" name="direccion" value="@Model.direccion" maxlength="200" aria-label="With textarea" style="max-width:none" id="comment">@Model.direccion</textarea>

                </div>

                <div class="mb-2" style="text-align:center" id="errorObjetivo"></div>




                <div class="form-row mb-2">
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:200px" id="basic-addon1">Fecha de Nacimiento</span>
                            </div>


                            <input id="input4" class="form-control" type="date" style=" max-width:none" value="@Model.fechaNacimiento" name="fechaNacimiento" required>
                        </div>
                        <div id="errorFechaNacimiento"></div>
                        <small class="form-text text-center" style="color:black">Formato dia/mes/anyo (hh:mm) </small>

                    </div>
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">email</span>
                            </div>

                            <input id="input5" class="form-control" type="email" style="text-align:center; max-width:none" value="@Model.correo" name="correo" required>

                        </div>
                        <div id="errorEmail"></div>
                    </div>
                </div>





                <div class="form-row mb-2">
                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Estado *</span>
                            </div>
                            <select class="custom-select" style="text-align:center; max-width:none" name="estado">
                                <option value="@Model.tipoTrabajo" selected>@Model.tipoTrabajo</option>
                                <option value="Tester">Tester</option>
                                <option value="Lider">Lider</option>
                            </select>
                        </div>
                        <div id="errorTipoTrabajo"></div>
                    </div>

                    <div class="col">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style=" width:200px;  text-align:center" id="basic-addon1">Nombre *</span>
                            </div>
                            <input id="cfecha2" class="form-control text-center" style="max-width:none" type="text" value="@Model.nombre" name="nombre" required>

                        </div>
                        <div id="errorNombre"></div>



                    </div>
                </div>

                <h5> * Campos requeridos</h5>




                <hr />

                <div class="row justify-content-center" style="max-width:1150px">
                    <div class="col-4  text-center">
                        <a data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn d-inline-block" href="/Proyectos/Index/"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                    </div>
                    <div class="col-4  text-center">

                        <button type="submit" id="btnsubmit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="right" title="Aceptar">
                            <img id="acceptar" src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            <div id="loading" style="width:80px;height:80px" class="spinner-border text-black" role="status"></div>
                        </button>

                    </div>
                </div>
















            </div>

        </fieldset>

    </form>


    <script>

        $('document').ready(function () {


            $('#loading').hide();



        });



        $('#btnsubmit').on('click', function () {
            $('#acceptar').hide('fast');


            $('#loading').show('fast');


        });

    </script>



    <script>
        $(function () {
            $("#commentForm").validate(
                {
                    rules:
                    {
                        nombre:
                        {
                            required: true,
                            minlength: 1
                        },
                        idEmpleadoPK:
                        {
                            required: true,
                        },
                        correo:
                        {
                            required: true,
                        },
                        fechaNacimiento:
                        {
                            required: true,
                        },
                        estado:
                        {
                            required: true,
                        },
                        tipoTrabajo:
                        {
                            required: true,
                        },




                    },
                    messages:
                    {
                        nombre: "Inserte al menos 1 caracter",
                        idEmpleadoPK: "El ID del empleado debe ser valido",
                        correo: "El correo del empleado debe ser valido",
                        fechaNacimiento: "Se requiere una fecha de nacimiento",
                        estado: "El empleado debe de tener un estado",
                        tipoTrabajo: "Se requiere el puesto del empleado",


                    },

                    errorPlacement: function (error, element) {
                        if ((element.attr('name') === 'nombre')) {
                            error.insertAfter($('#errorNombre'));
                        }
                        if ((element.attr('name') === 'idEmpleadoPK')) {
                            error.insertAfter($('#errorID'));
                        }
                        if ((element.attr('name') === 'correo')) {
                            error.insertAfter($('#errorCorreo'));
                        }
                        if ((element.attr('name') === 'fechaNacimiento')) {
                            error.insertAfter($('#errorFechaNacimiento'));
                        }
                        if ((element.attr('name') === 'estado')) {
                            error.insertAfter($('#errorEstado'));
                        }
                        if ((element.attr('name') === 'tipoTrabajo')) {
                            error.insertAfter($('#errorTipoTrabajo'));
                        }




                    },
                    invalidHandler: function (form, validator) {

                        $('#loading').hide('fast');
                        $('#acceptar').show('fast');

                    },



                });
        });


    </script>


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>



</body>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
