@model ProyectoIntegrador.BaseDatos.Empleado

@{
    ViewBag.Title = "Edit";
}

<br />

<p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Editar Empleado</p>

<hr>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    @*<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.less">*@



    <style type="text/css">
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Paleta.css" />

    <style>

        .bootstrap-tagsinput {
            background-color: #F9F9F9;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            display: inline-block;
            padding: 4px 6px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
            max-width: 100%;
            line-height: 22px;
            cursor: text;
        }

        .custom-validation-summary ul {
            list-style-type: none;
            color: red;
            padding: 0;
        }

        .error {
            color: red;
            background-color: transparent;
        }

        input.error, input select.error {
            background-color: white;
            border-color: red;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Paleta.css" />




</head>

<body onload="getProvincias('@Model.provincia','@Model.canton','@Model.distrito')">
    @if (Request.IsAuthenticated)
    {
        <form id="employeeForm" class="cmxform" name="employeeForm" method="post" action="Create">
            <fieldset>

                <div id="errors"></div>
                <div class="container justify-content-center" style="width:2000px; border-radius:25px; box-shadow: 1px 9px 22px 12px  rgba(128,128,128,0.91); background-color: rgba(192,159,128, 0.7)">

                    @if (ViewBag.error != null)
                    {
                        <div class="alert alert-primary text-center m-3" style="color:white ; background-color:red">@ViewBag.error</div>
                    }
                    else
                    {
                        <div class="alert alert-primary text-center m-3 pt-2" style=" border-color:transparent ; background-color:transparent; height:50px"></div>
                    }
                    <input type="hidden" value="@Model.idEmpleadoPK" name="cedulaVieja">

                    @*Primera fila*@
                    <div class="form-row mb-2">
                        <div class="col-3">
                            <!--Campo Cedula-->
                            <h5 for="idEmpleadoPK" style="width:200px">Cédula *</h5>
                            @Html.EditorFor(model => model.idEmpleadoPK, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" }, maxlength = "20" })
                            <div id="errorID"></div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo Nombre-->
                            <h5 for="nombre" style="width:200px">Nombre *</h5>
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" }, maxlength = "20" })
                            <div id="errorNombre"></div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo Primer Apellido-->
                            <h5 for="apellido1" style="width:200px">Primer Apellido *</h5>
                            @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" }, maxlength = "20" })
                        </div>
                    </div>
                    <br>

                    @*Segunda fila*@
                    <div class="form-row mb-2">
                        <div class="col-3">
                            <input hidden class="form-control" value="@Model.idEmpleadoPK" id="cedulaOld" type="text">
                            <!--Campo Segundo Apellido-->
                            <h5 for="apellido2" style="width:200px">Segundo Apellido</h5>
                            @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" }, maxlength = "20" })
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo Fecha de nacimiento-->
                            <h5 for="fechaNacimiento" style="width:200px">Fecha de nacimiento*</h5>
                            @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" } })
                            <div id="errorFechaNacimiento"></div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo correo-->
                            <input hidden class="form-control" value="@Model.correo" id="correoOld" type="text">
                            <h5 for="correo" style="width:200px">Correo *</h5>
                            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" }, maxlength = "30" })
                            <div id="errorCorreo"></div>
                        </div>
                    </div>
                    <br>

                    @*Tercera fila*@
                    <div class="form-row mb-2">
                        <div class="col-3">
                            <!--Campo telefono-->
                            <h5 for="telefono" style="width:200px">Télefono</h5>
                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" }, maxlength = "15" })
                            <div id="errorFechaNacimiento"></div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo Estado-->
                            <h5 for="correo" style="width:200px">Estado *</h5>
                            <div class="input-group">

                                <select class="custom-select" style='background-color:#F9F9F9; border-color:transparent; width: 200px' name="estado">

                                    <option value="@Model.estado">@Model.estado</option>
                                    <option value="Disponible">Disponible</option>
                                    <option value="Ocupado">Ocupado</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                            <div id="errorEstado"></div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo Puesto-->
                            <h5 for="tipoTrabajo" style="width:200px">Puesto *</h5>
                            <div class="input-group">

                                <select class="custom-select" style='background-color:#F9F9F9; border-color:transparent; width: 200px' name="tipoTrabajo">
                                    <option value="@Model.tipoTrabajo">@Model.tipoTrabajo</option>
                                    <option value="Tester">Tester</option>
                                    <option value="Lider">Lider</option>
                                    <option value="Jefe de Calidad">Jefe de Calidad</option>
                                    <option value="Jefe de Soporte">Jefe de Soporte</option>
                                </select>
                            </div>
                            <div id="errorTipoTrabajo"></div>
                        </div>
                    </div>

                    @*Cuarta fila*@
                    <br>
                    <div class="form-row mb-2">
                        <div class="col-3">
                            <!--Campo Provincia-->
                            <h5 for="provincia" style="width:100px">Provincia *</h5>
                            <div id="destino"></div>
                            <div id="errorProv"></div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo Canton-->
                            <h5 for="canton" style="width:100px">Cantón *</h5>
                            <div id="destino2"></div>
                            <div id="errorCant"></div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <!--Campo Distrito-->
                            <h5 for="distrito" style="width:100px">Distrito *</h5>
                            <div id="destino3"></div>
                            <div id="errorDistr"></div>
                        </div>
                    </div>
                    @*Quinta fila*@
                    <br>
                    <div class="form-row mb-2" style="padding-left:5px">
                        <!--Campo Direccion Exacta-->
                        <h5 for="direccion" style="width:400px">Dirección exacta</h5>
                    </div>
                    <div class="row" style="padding-left:15px; padding-right:15px;">
                        @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @style = "background-color:#F9F9F9; border-color:transparent; max-width:none" } })

                        @*<div id="errorDir"></div>*@
                    </div>
                    <br>

                    @*Habilidades Tecnicas*@
                    <br>
                    <div class="form-row mb-2" style="padding-left:5px">

                        <h5 for="habilidadesTecnicas" style="width:400px">Habilidades Tecnicas</h5>
                    </div>

                    <div class="bootstrap.min.less">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
                        <script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

                        <div class="row" style="padding-left:15px; padding-right:15px;">

                            <input type="text" id="habilidadesTecnicas" value="Java, C++, C#, SQL" name="habilidadesTecnicas" data-role="tagsinput" style="background-color:#D7CEC7" />
                        </div>


                        <br>
                        <div class="form-row mb-2" style="padding-left:5px">

                            <h5 for="habilidadesBlandas" style="width:400px">Habilidades Blandas</h5>
                        </div>



                        <div class="row" style="padding-left:15px; padding-right:15px;">

                            <input type="text" id="habilidadesBlandas" value="Liderazgo, comunicacion" name="habilidadesBlandas" data-role="tagsinput" />
                        </div>
                    </div>

                    <h5> * Campos requeridos</h5>

                    <hr />

                    <div class="row" style="max-width:1600px">
                        <!--Boton Regresar-->
                        <div class="col-4  text-center">
                            <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="/Empleados/Index/@Model.idEmpleadoPK"><img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
                        </div>

                        <!--Boton Cancelar o Reset-->
                        <div class="col-4 text-center">
                            <button type="reset" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cancelar">
                                <img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            </button>
                        </div>

                        <!--Boton Aceptar-->
                        <div class="col-4  text-center">
                            <button type="submit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="top" title="Aceptar">
                                <img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>


        @*@Html.Partial("ModalCancelar")
            @Html.Partial("Scripts")
        *@ @Html.Partial("ScriptDropdown")
    }
    else
    {
        <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login como Jefe de Calidad para poder editar los empleados</div>
    }
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script>
    $(function () {
        jQuery.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[a-z]+$/i.test(value);
        }, "No se admiten números en los nombres");
        $("#employeeForm").validate(
            {
                rules:
                {
                    nombre:
                    {
                        required: true,
                        minlength: 2,
                        lettersonly: true,
                        maxlength: 20
                    },
                    apellido1:
                    {
                        required: true,
                        minlength: 2,
                        lettersonly: true,
                        maxlength: 20
                    },

                    apellido2:
                    {
                        required: true,
                        minlength: 2,
                        lettersonly: true,
                        maxlength: 20
                    },

                   idEmpleadoPK:
                    {
                        required: true,
                        minlength: 8,
                        number: true,
                        maxlength: 20,
                        remote:
                        {
                            url: "/Empleados/CheckCedula",
                            type: "post",
                            delay: 1000,
                            data: {
                                cedulaPK: function () {
                                    return $("#idEmpleadoPK").val();
                                },
                                oldcedulaPK: function () {
                                    return $("#cedulaOld").val();
                                },
                            }
                        }
                    },

                    fechaNacimiento:
                    {
                        required: true,
                    },
                    correo:
                    {

                        required: true,
                        maxlength: 50,
                        remote: {
                            url: "/Empleados/CheckEmail",
                            type: "post",
                            delay: 1000,
                            data: {
                                email: function () {
                                    return $("#correo").val();
                                },
                                oldEmail: function () {
                                    return $("#correoOld").val();
                                }
                            }
                        }

                    },
                    estado:
                    {
                        required: true,

                    },
                    tipoTrabajo:
                    {
                        required: true,

                    },
                    provincia:
                    {
                        required: true
                    },
                    canton:
                    {
                        required: true
                    },
                    distrito:
                    {
                        required: true
                    },

                    telefono:
                    {
                        number: true,
                        minlength: 8,
                        maxlength: 15
                    },

                },
                messages:
                {
                    idEmpleadoPK: {
                        required: "La cédula es requerida",
                        remote: "Ya existe esta cédula",
                        number: "Solo se pueden ingresar numeros",
                        minlength: "La cédula debe de tener al menos ocho digitos",
                    },
                    nombre:
                    {
                        required: "El nombre es requerido",
                        lettersonly: "No se admiten números en el nombre",
                        minlength: "Debe de tener más de una letra",
                        maxlength: "El nombre debe de ser de menos de 20 letras"
                    },
                    apellido1:
                    {
                        required: "El primer apellido es requerido",
                        lettersonly: "No se admiten números en el apellido",
                        minlength: "Debe de tener más de una letra",
                        maxlength: "El apellido debe de ser de menos de 20 letras"
                    },

                    apellido2:
                    {
                        required: "El segundo apellido es requerido",
                        lettersonly: "No se admiten números en el apellido",
                        minlength: "Debe de tener más de una letra",
                        maxlength: "El apellido debe de ser de menos de 20 letras"
                    },

                    correo:
                    {
                        required: "Se requiere un email valido (ejemplo: email@email.com)",
                        lettersonly: "No se admiten números en el nombre",
                        remote: "Ya existe correo"
                    },
                    fechaNacimiento: "La fecha de nacimiento es requerida",
                    estado: "El estado es requerido",
                    tipoTrabajo: "El puesto es requerido",
                    provincia: "La provincia es requerida",
                    canton: "El cantón es requerido",
                    distrito: "El distrito es requerido",

                    telefono:
                    {
                        minlength: "Mínimo ocho dígitos",
                        number: "Solo se aceptan números",
                        maxlength: "Máximo 15 dígitos"
                    }
                },
                errorPlacement: function (error, element) {
                    if ((element.attr('name') === 'idEmpleadoPK')) {
                        error.insertAfter($('#errorCedula'));
                    }
                    if ((element.attr('name') === 'nombre')) {
                        error.insertAfter($('#errorNombre'));
                    }
                    if ((element.attr('name') === 'apellido1')) {
                        error.insertAfter($('#errorApellido'));
                    }
                    if ((element.attr('name') === 'apellido2')) {
                        error.insertAfter($('#errorApellido2'));
                    }
                    if ((element.attr('name') === 'correo')) {
                        error.insertAfter($('#errorCorreo'));
                    }
                    if ((element.attr('name') === 'fechaNacimiento')) {
                        error.insertAfter($('#errorFechaNacimiento'));
                    }
                    if ((element.attr('name') === 'estado')) {
                        error.insertAfter($('#errorEstado'));
                    }
                    if ((element.attr('name') === 'tipoTrabajo')) {
                        error.insertAfter($('#errorTipoTrabajo'));
                    }
                    if ((element.attr('name') === 'provincia')) {
                        error.insertAfter($('#errorProv'));
                    }
                    if ((element.attr('name') === 'canton')) {
                        error.insertAfter($('#errorCant'));
                    }
                    if ((element.attr('name') === 'distrito')) {
                        error.insertAfter($('#errorDist'));
                    }
                    if ((element.attr('name') === 'telefono')) {
                        error.insertAfter($('#errorTel'));
                    }
                },
                invalidHandler: function (form, validator) {
                    $('#loading').hide('fast');
                    $('#acceptar').show('fast');
                },
            });
    });
</script>
