@model IEnumerable<ProyectoIntegrador.BaseDatos.Empleado>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

@*Se crean variables con el fin de identificar las clases, para poder activar un tab dependiendo del id*@
@{ var idCarta = "#a"; }
@{ var idTab = "a"; }
<!---->
<body>
    @if (Request.IsAuthenticated)
    {

        <p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Consultar Empleados</p>

        <hr>
        <div class="container " style="max-width: 1800px">
            <div class="row">

                <div class="col col-md-4 " style="width:auto; height:auto; border-radius:20px 20px 20px 20px">

                    <!-- Image and text -->

                    <nav class="navbar navbar-light bg-secondary" style="border-radius:20px 20px 0px 0px">

                        <!--Imagen Empleados + titulo lista de empleados-->
                        <a class="navbar-brand">
                            <img src="~/Content/team.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                            Lista de Empleados
                        </a>

                        <!--Input para realizar busquedas de empleado-->
                        <input type="text" style="border-radius:20px; background-color:#C4C4C4 ; border-color:transparent" id="myInput" onkeyup="myFunction()" placeholder="Buscar Empleados">

                        <!--Imagen de agregar Empleado-->
                        @*Pregunta si tiene permisos para crear*@
                        @if (ViewBag.permisosEspecificos.Item5 == 1)
                        {
                            <a data-toggle="tooltip" data-placement="top" title="Agregar Empleado" href="~/Empleados/Create" class="btn"><img src="~/Content/plus.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>
                        }
                        else
                        {
                            <a data-toggle="tooltip" data-placement="top" title="No tiene permiso para crear un empleado" class="btn"><img src="~/Content/plus.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>
                        }
                    </nav>

                    <!--Tab izquierdo donde se muestran los empleados con el nombre en la BD-->
                    <div class="card" style="border-radius: 0px 0px 20px 20px ; background-color:#C09F80 ; height:530px; box-shadow: -4px 31px 44px 0px  rgba(128,128,128,0.91)">
                        <div class="list-group h-100 overflow-auto py-1" style="border-radius: 0px 0px 00px 20px" id="list-tab" role="tablist">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {

                                    //Si el item.idProyectoAID es igual al ViewBag.proyectoSelec hay que seleccionar el tab con la instruccion show active
                                    if (ViewBag.empleadoSelec == item.idEmpleadoPK)
                                    {
                                        <a class="list-group-item list-group-item-action list-group-item-secondary my-1 active" data-id="@item.idEmpleadoPK" style="border-radius:20px 20px 20px 20px" id="list-home-list" data-toggle="list" href=@idCarta role="tab">@Html.DisplayFor(modelItem => item.nombre)</a>
                                    }
                                    else
                                    {
                                        <a class="list-group-item list-group-item-action list-group-item-secondary my-1" data-id="@item.idEmpleadoPK" style="border-radius:20px 20px 20px 20px" id="list-home-list" data-toggle="list" href=@idCarta role="tab">@Html.DisplayFor(modelItem => item.nombre)</a>
                                    }

                                    { idCarta += 1; }
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="tab-content d-block" style="height:580px; width:1150px; border-radius:20px 20px 20px 20px " id="nav-tabContent">

                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                //Si el item.idProyectoAID es igual al ViewBag.proyectoSelec hay que seleccionar el tab con la instruccion show active
                                if (ViewBag.empleadoSelec == item.idEmpleadoPK)
                                {
                                    <div class="tab-pane fade fade bg-secondary  show active" style="max-width:1150px;border-radius:20px 20px 20px 20px ; box-shadow: -4px 31px 44px 0px  rgba(128,128,128,0.91)" id=@idTab role="tabpanel" aria-labelledby="list-home-list">
                                        @Html.Partial("FormIndex", @item)
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade bg-secondary" style="max-width:1150px;border-radius:20px 20px 20px 20px;  box-shadow: -4px 31px 44px 0px  rgba(128,128,128,0.91)" id=@idTab role="tabpanel" aria-labelledby="list-home-list">
                                        @Html.Partial("FormIndex", item)
                                    </div>
                                }


                                //Le agrega un digito mas al idTab
                                { idTab += 1; }
                            }
                        }



                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder ver los empleados</div>
    }
    <!--Carga todos los scripts-->
    @Html.Partial("ModalEliminar")
    @Html.Partial("Scripts")
   
</body>
