<style>
    body {
        font-family: "Lato", sans-serif;
        width: 100%;
        height: 100%;
    }

    .sidenav {
        max-height: 790px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 156px;
        left: 0;
        background-color: #76323F;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #FFFFFF;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #C09F80;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    .table-row {
        cursor: pointer;
    }


</style>

<body>

    </br>
    <p id="nombreConsulta" class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:32px;">Historial de participación por tester</p>
    </br>

    <h2 class="text-primary text-center font-weight-bold">Nombre Tester: @ViewBag.datosTester.Item2</h2>
    </br>
    </br>


    <div class="row">

        <div class="col" style="align-content:center">
            <table class="table table-bordered table-hover table-light table-sm" align="center" style="width:900px">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre Proyecto</th>
                        <th scope="col">Horas Dedicadas</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var tupla in ViewBag.listaProyectos)
                    {

                        <tr class="table-row" onclick="cargarRequerimientos(@tupla.idProyectoAID,@ViewBag.datosTester.Item1,'@tupla.nombre')">
                            <th scope="row">@tupla.nombre</th>
                            <td>@tupla.horas</td>
                            <td>@tupla.fechaInicio.ToString("dd-MM-yyyy")</td>
                            <td>@tupla.fechaFin.ToString("dd-MM-yyyy")</td>

                        </tr>

                    }

                </tbody>
            </table>
        </div>


    </div>

    </br>
    </br>
    </br>


    <h2 class="text-primary text-center font-weight-bold" id="proyName"></h2>
    <div class="row" id="graphReq"></div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script>

        function cargarRequerimientos(idProyecto, cedulaTester, nombre) {
            //Limpia los datos
            document.getElementById("graphReq").innerHTML = " ";
            document.getElementById("proyName").innerText = "Lista de Requerimientos para el Proyecto: " + nombre;



            //Se crea el html de loading
            document.getElementById("graphReq").innerHTML = ' </br>  </br> <div class="text-center"><h1>Cargando Datos</h1> </div><div class="text-center"><div class="spinner-border" style="width: 100px; height: 100px;" role="status"></div></div></div>';

            //Pide los datos al controlador
            $.ajax({
                url: "/ConsultasAvanzadas/consulta6Requerimiento",
                method: "GET",
                data: {
                    idProyecto: function () {
                        return idProyecto;
                    },
                    cedulaTester: function () {
                        return cedulaTester;
                    },


                },
                success: function (data) {

                    data2 = JSON.parse(data);
                    //console.log(data2);



                    //Carga los datos del chart
                    google.charts.load("visualization", "1", { packages: ["timeline"] }
                    ).then(function () {
                        // Define the chart to be drawn.
                        var data = new google.visualization.DataTable();
                        data.addColumn({ type: 'string', id: 'Requerimiento' });
                        data.addColumn({ type: 'string', id: 'dummy bar label' });
                        data.addColumn({ 'type': 'string', 'role': 'tooltip', 'p': { 'html': true } })
                        data.addColumn({ type: 'date', id: 'Inicio' });
                        data.addColumn({ type: 'date', id: 'Fin' });


                        for (tupla in data2) {

                            var nombre = data2[tupla].nombre;

                            var fechaInicio = data2[tupla].fechaInicio;
                            var fechaFin = data2[tupla].fechaFin;

                            var date = new Date(fechaInicio.substring(0, 4), fechaInicio.substring(5, 7), fechaInicio.substring(8, 10));
                            

                            var date2 = new Date(fechaFin.substring(0, 4), fechaFin.substring(5, 7), fechaFin.substring(8, 10));
           
                            data.addRow([nombre, null, '<div style="width:200px"><h7> <strong>Tipo de Complejidad:  </strong>' + data2[tupla].complejidad + '</h7></br><h7><strong>Total días Trabajados:  </strong>'+(date2.getTime() - date.getTime() ) / (1000 * 3600 * 24)+'</h7></div>', new Date(fechaInicio.substring(0, 4), fechaInicio.substring(5, 7), fechaInicio.substring(8, 10)), new Date(fechaFin.substring(0, 4), fechaFin.substring(5, 7), fechaFin.substring(8, 10))]);

                        }


                        var options = {
                            width: '1890',
                            height: '500',
                            timeline: {
                                rowLabelStyle: { fontName: 'Helvetica', fontSize: 18, color: '#603913' },
                                barLabelStyle: { fontName: 'Garamond', fontSize: 10 }
                            },
                            tooltip: { isHtml: true },
                   
                        };

                        // Instantiate and draw the chart.
                        var chart = new google.visualization.Timeline(document.getElementById('graphReq'));
                        chart.draw(data, options);

                        });


                }
                ,
                error: function (err) {
                    alert("Ha ocurrido un error");
                }


            });
        }

    </script>

</body>



