
@model IEnumerable<ProyectoIntegrador.BaseDatos.Empleado>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
            width: 100%;
            height: 100%;
        }

        .sidenav {
            max-height: 790px;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 156px;
            left: 0;
            background-color: #76323F;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 0px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #FFFFFF;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #C09F80;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        .table-row {
            cursor: pointer;
        }
    </style>
</head>
<body>

    <div id="mySidenav" class="sidenav mt-2">

        <!--Verifica permisos para ver la consulta-->
        @if (ViewBag.permisosConsultas.Item2[0] != 3)
        {
            <a href="#" onclick="consulta1(@ViewBag.permisosConsultas.Item2[0])"><h5>Testers Asignados/Disponibles</h5></a>
        }

        <!--Verifica permisos para ver la consulta-->
        @if (ViewBag.permisosConsultas.Item2[1] != 3)
        {
            <a href="#" onclick="consulta2()"><h5>Tester Habilidades/Disponibilidad</h5></a>
        }

        <!--Verifica permisos para ver la consulta-->
        @if (ViewBag.permisosConsultas.Item2[2] != 3)
        {
            <a href="#" onclick="consulta3(@ViewBag.permisosConsultas.Item2[2],@ViewBag.permisosConsultas.Item3)"><h5>Total requerimientos por tester</h5></a>
        }

        <!--Verifica permisos para ver la consulta 4 -->
        @if (ViewBag.permisosConsultas.Item2[3] != 3)
        {
            <a href="#" onclick="consulta4(@ViewBag.permisosConsultas.Item2[2],@ViewBag.permisosConsultas.Item3)"><h5>Duración estimada vs real por requerimientos de un tester</h5></a>
        }

        <!--Verifica permisos para ver la consulta-->
        @if (ViewBag.permisosConsultas.Item2[4] != 3)
        {
            <a href="#" onclick="consulta5(@ViewBag.permisosConsultas.Item2[2],@ViewBag.permisosConsultas.Item3)"><h5>Horas estimadas y reales requeridas por proyecto</h5></a>
        }

        <!--Verifica permisos para ver la consulta-->
        @if (ViewBag.permisosConsultas.Item2[5] != 3)
        {
            <a href="#" onclick="consulta6(@ViewBag.permisosConsultas.Item2[2],@ViewBag.permisosConsultas.Item3)"><h5>Historial de participación por tester </h5></a>
        }

        <!--Verifica permisos para ver la consulta 7-->
        @if (ViewBag.permisosConsultas.Item2[6] != 3)
        {
            <a href="#" onclick="consulta7(@ViewBag.permisosConsultas.Item2[6],@ViewBag.permisosConsultas.Item3)"><h5>Comparación de duración por complejidad</h5></a>
        }

        <!--Verifica permisos para ver la consulta-->
        @if (ViewBag.permisosConsultas.Item2[7] != 3)
        {
            <a href="#" onclick="consulta8()"><h5>Resultado de pruebas para un proyecto</h5></a>
        }

        <!--Verifica permisos para ver la consulta-->
        @if (ViewBag.permisosConsultas.Item2[8] != 3)
        {
            <a href="#" onclick="consulta9()"><h5>Estado de pruebas para un proyecto</h5></a>
        }

        <!--Verifica permisos para ver la consulta 10-->
        @if (ViewBag.permisosConsultas.Item2[9] != 3)
        {
            <a href="#" onclick="consulta10(@ViewBag.permisosConsultas.Item2[9],@ViewBag.permisosConsultas.Item3)"><h5>Estado de los requerimientos de un proyecto</h5></a>
        }


    </div>

    <br />

    <input id="rol" hidden class="form-control" value="@ViewBag.permisosConsultas.Item1" name="rol" type="text">

    <div class="row">
        <div class="col-2 ">

            <div style="margin-left:20px;"><button id="toggleButton" type="button" onclick="opencloseNav()" class="btn btn-primary" style="height:60px"><h5>&#9776; Ver Consultas</h5></button></div>

        </div>

        <div class="col">
          

            <p class="font-weight-bold " style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px; margin-bottom:0px; margin-left:350px">Consultas Avanzadas</p>

        </div>


    </div>


    <hr>

    <div class="container-fluid">
        <div id="main" style="min-height:600px">

            <div class="row mb-3">
                <div class="col" style="max-height:40px">
                    <p id="nombreConsulta" class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:32px;"></p>
                </div>

            </div>

            <br />
            <br />
            <br />

            <div class="container-fluid" @*style="max-height:550px;overflow:auto"*@>
                <!-- Datos para la primera consulta -->
                <div id="datosC1">




                </div>

            </div>




        </div>


    </div>

    <script>
        function opencloseNav() {

            var title = document.getElementById("title");
            var Sidenav = document.getElementById("mySidenav");
            var main = document.getElementById("main")
            var Width = document.getElementById("mySidenav").offsetWidth;

            if (Width == 0) {
                Sidenav.style.width = "350px";
                main.style.marginLeft = "350px";
                //title.style.marginLeft = "150px";
            }
            else {
                Sidenav.style.width = "0";
                main.style.marginLeft = "0";
                // title.style.marginLeft = "280px";
            }

        }

    </script>
    @Html.Partial("Consulta1")
    @Html.Partial("Consulta3")
    @Html.Partial("Consulta4") <!--Duración estimada vs real(Comparación)-->
    @Html.Partial("Consulta5")
    @Html.Partial("Consulta6")
    @Html.Partial("Consulta7") <!--Duración de reqs por complejidad(Comparación)-->
    @Html.Partial("Consulta10") <!--Estado de los requerimientos de un proyecto-->


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>




</body>
</html> 